<h1><%= t "teach.home.title" %></h1>

<%= render "teach/lessons_shared/language_warning" %>

<h2 class="h3"><%= t "teach.home.subtitle" %></h2>

<%= t "teach.home.introduction_html" %>

<h3><%= t "teach.home.developmental_targets" %></h3>

<%= render "developmental_targets" %>

<!--TODO fix the last Lesson 5 square, which is not displaying as it should -->

<h3 class="explore_index_headers">
  <%= t "teach.lesson_plans.title" %>
</h3>

</div> <%# End container for full width band %>
<div class="container-fluid explore_band">

  <div class="row">
    <div class="col-sm-6">
      <%= link_to teach_lesson01_path, class: "content learn_callout1 explore_callout" do %>
        <div class="explore_inner">
          <div class="row">
            <div class="col-md-9 col-md-offset-3">
              <div class="inner_content">
                <h4>
                  <%= t "teach.lesson01.title", default: "Lesson 01" %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div><!-- /col -->
    <div class="col-sm-6">
      <%= link_to teach_lesson02_path, class: "content learn_callout2 explore_callout" do %>
        <div class="explore_inner">
          <div class="row">
            <div class="col-md-9">
              <div class="inner_content">
                <h4>
                  <%= t "teach.lesson02.title", default: "Lesson 02" %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div><!-- /col -->
  </div><!-- /row -->

  <div class="row">
    <div class="col-sm-6">
      <%= link_to teach_lesson03_path, class: "content learn_callout3 explore_callout" do %>
        <div class="explore_inner">
          <div class="row">
            <div class="col-md-9 col-md-offset-3">
              <div class="inner_content">
                <h4>
                  <%= t "teach.lesson03.title", default: "Lesson 03" %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div><!-- /col -->
    <div class="col-sm-6">
      <%= link_to teach_lesson04_path, class: "content learn_callout4 explore_callout" do %>
        <div class="explore_inner">
          <div class="row">
            <div class="col-md-9">
              <div class="inner_content">
                <h4>
                  <%= t "teach.lesson04.title", default: "Lesson 04" %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-offset-3">
      <%= link_to teach_lesson05_path, class: "content learn_callout5 explore_callout" do %>
        <div class="explore_inner">
          <div class="row">
            <div class="col-md-9 col-md-offset-3">
              <div class="inner_content">
                <h4>
                  <%= t "teach.lesson05.title", default: "Lesson 05" %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div><!-- /col -->
  </div><!-- /row -->
</div>
