<h1><%= t "teach.lesson_general.title", default: "Teach and Learn" %></h1>

<%= render "language_warning" %>

<h3>This letter is to greet you: Language, migration and daily life in the experience of one Mexican American family</h3>

<p>The following materials were designed to address the needs of High School and college Spanish learners at the intermediate/advanced levels. Our general goal is to allow students to use the resources of the Shanahan collection to develop their linguistic skills and their cultural competence as they learn about the experience of Mexican American families at the start of the Twentieth Century.</p>   
<p>The activities presented here were developed to address the needs of two types of students: Those who are speakers of Spanish as a heritage language, and those who are learning it as a second language.</p>  

<p>Following Beaudrie y Potowski (2014), we believe that speakers of Spanish as a heritage language bring with them linguistic, social and cultural knowledge that must be valued in the classroom. We understand a heritage language learner as a student who grew up in a family  or community environment where a minority language was spoken, and who possesses an affective and cultural connection with that language.</p>   

<p>We acknowledge the fact that, in the context of the United States, most Spanish classrooms serve both types of students. Each teacher will be free to adapt this material (and the other resources in the collection), to address the specific needs of her students.</p>

<br>

<h4>Developmental targets</h4>

<!-- TODO check this table format -->

<table class="table table-striped">
  <tr>
    <th class="col-md-3"><strong>Heritage Language Learners</strong>
      <br>
      <em>Beaudrie & Potowski, 2014</em></th>
    <th class="col-md-3"><strong>Second Language Learners, K-12</strong>
      <br>
      <em>Nebraska K-12 Foreign Language Frameworks</em></th>
    <th class="col-md-4"><strong>HL & L2 Advanced-Mid level learners, young adult and beyond</strong>
      <br>
      <em>ACTFL Writing Proficiency Guidelines, 2012</em></th>
  </tr>
  <tr>
    <td>Development of reading and writing skills in Spanish</td>
    <td>Communicate in Languages Other than English (Goal 1)</td>
    <td rowspan="5">“[...] They demonstrate the ability to narrate and describe with detail in all major time frames with good control of aspect. They are able to write straightforward summaries on topics of general interest. Their writing exhibits a variety of cohesive devices in texts up to several paragraphs in length. There is good control of the most frequently used target-language syntactic structures and a range of general vocabulary. Most often, thoughts are expressed clearly and supported by some elaboration. This writing incorporates organizational features both of the target language and the writer’s first language and may at times resemble oral discourse. Writing at the Advanced Mid sublevel is understood readily by natives not used to the writing of non-natives. When called on to perform functions or to treat issues at the Superior level. Advanced Mid writers will manifest a decline in the quality and/or quantity of their writing.”</td>
  </tr>
  <tr>
    <td>Development of cohesive devices characteristic of formal varieties of written Spanish</td>
    <td>Gain Knowledge and Understanding of Other Cultures (Goal 2)</td>
  </tr>
  <tr>
    <td>Transfer of academic skills</td>
    <td>Connect with Other Disciplines and Acquire Information (Goal 3)</td>
  </tr>
  <tr>
    <td>Expansion of bilingual range</td>
    <td>Develop Insight into the Nature of Language and Culture (Goal 4)</td>
  </tr>
  <tr>
    <td>Awareness and appreciation of different varieties of Spanish</td>
    <td>Participate in Multilingual Communities at Home & Around the World (Goal 5)</td>
  </tr>
  <tr>
    <td>Awareness and appreciation of cultures</td>
  </tr>
</table>

<!--TODO fix the last Lesson 5 square, which is not displaying as it should -->

<h3 class="explore_index_headers">
  <%= t "teach.lesson_plans.title", default: "Lesson Plans" %>
</h3>
</div> <%# End container for full width band %>
<div class="container-fluid explore_band">

  <div class="row">
    <div class="col-sm-6">
      <%= link_to teach_lesson01_path, class: "content learn_callout1 explore_callout" do %>
        <div class="explore_inner">
          <div class="row">
            <div class="col-md-9 col-md-offset-3">
              <div class="inner_content">
                <h4>
                  <%= t "teach.lesson01.title", default: "Lesson 01" %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      <% end %>  
    </div><!-- /col -->
    <div class="col-sm-6">
      <%= link_to teach_lesson02_path, class: "content learn_callout2 explore_callout" do %>
        <div class="explore_inner">
          <div class="row">
            <div class="col-md-9">
              <div class="inner_content">
                <h4>
                  <%= t "teach.lesson02.title", default: "Lesson 02" %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      <% end %>  
    </div><!-- /col -->
  </div><!-- /row -->

  <div class="row">
    <div class="col-sm-6">
      <%= link_to teach_lesson03_path, class: "content learn_callout3 explore_callout" do %>
        <div class="explore_inner">
          <div class="row">
            <div class="col-md-9 col-md-offset-3">
              <div class="inner_content">
                <h4>
                  <%= t "teach.lesson03.title", default: "Lesson 03" %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      <% end %> 
    </div><!-- /col -->
    <div class="col-sm-6">
      <%= link_to teach_lesson04_path, class: "content learn_callout4 explore_callout" do %>
        <div class="explore_inner">
          <div class="row">
            <div class="col-md-9">
              <div class="inner_content">
                <h4>
                  <%= t "teach.lesson04.title", default: "Lesson 04" %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      <% end %> 
    </div>
  <div class="row">
    <div class="col-sm-6 col-md-offset-3">
      <%= link_to teach_lesson05_path, class: "content learn_callout5 explore_callout" do %>
        <div class="explore_inner">
          <div class="row">
            <div class="col-md-9 col-md-offset-3">
              <div class="inner_content">
                <h4>
                  <%= t "teach.lesson05.title", default: "Lesson 05" %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      <% end %> 
    </div><!-- /col -->
  </div><!-- /row -->
</div>
