<h1><%= t "teach.lesson01.title", default: "Teach and Learn" %></h1>

<%= render "language_warning" %>

<p>In this lesson we examine a digital object and its context. Students will describe an everyday object to analyze its individual features and its relationship to its historical context. Drawing from their own environment, they will establish connections between their personal experience and that of the owner of the object they are describing.</p>  

<p> Students will also learn what are language contact phenomena, why they come about> After identifying a few examples present in this collection, they will explore why they are an important part of the language experience of Mexican American communities.</p>

<br>

<h4>Learning objectives</h4>

<!-- TODO check the styling of the bullet points -->

<ul style="list-style-type:square;">
	<li>Students will practice making a detailed description of objects and places in Spanish</li>
	<li>Students will make inferences about the historical or social context of an everyday object</li>
	<li>Students will identify examples of language contact phenomena present in this collection and will reflect on the reasons why they are an important part of the language experience of Mexican American communities</li>
	<li>Students will practice using infinitive for unconjugated verbs, and gerund for simultaneous or ongoing actions or events</li>
</ul>

<h4>In this lesson, we focus on…</h4>

<!-- TODO check the styling of the bullet points -->

<ul style="list-style-type:circle;">
	<li>Literacy: Making detailed descriptions </li>
	<li>Literacy: Making inferences about the historical and social contact of an everyday object</li>
	<li>Language: Language contact phenomena</li>
	<li>Grammar: Contrast between infinitive and gerund in Spanish</li>
</ul>

<h4>Materials</h4>

<!--TODO insert links to objetcs in every "digital copy" -->

<ol type="I">
	<li>Digital copy of black and white photograph of William D. Schubert, Pamela L. Schubert and Robert S. Schubert, Christmas Day 1953, La Grange Illinois.</li>
	<li>Digital copy of black and white photograph of a television.</li>
	<li>Digital copy of Mor Valu trading stamps.</li>
	<li>Digital copy, translation and transcription of letter written by Jesusita B. Torres to her daughter, Mrs. W.F. Schubert, dated November 13, 1958.</li>
<!-- The words “Teacher’s guide” are a link to a downloadable pdf --> 
	<li>Library of Congress <a href="http://www.loc.gov/teachers/usingprimarysources/resources/Analyzing_Books_and_Other_Printed_Texts.pdf" target="_blank">Teacher’s Guide</a> to Analyzing Books & Other Printed Texts (one-page handout)</li>
</ol>

<!-- TODO check alignment, I believe justify is better -->

<br>

<h4>Instructional Sequence</h4>

<h5>La vida secreta de una cuchara: Objetos domésticos, historia familiar      
y experiencia social</h5>

<br>

<p><b>Lesson plan overview</b></p>

<ol type="1">
	<li><a href="#antes">Antes de empezar</a></li>
	<li><a href="#continuar">Para continuar la conversación</a></li>
	<li><a href="#mira">Mira otra vez, mira más de cerca</a></li>
	<li><a href="#manos">Después de leer: ¡manos a la obra!</a></li>
	<li><a href="#grammar">Focus on Grammar</a></li>
	<li><a href="#language">Focus on Language</a></li>
	<li><a href="#paso">Un paso más: en comunidad</a></li>
	<li><a href="#rabbit">Down the rabbit, whole...</a></li>
</ol>

<br>

<p id="antes"><b>Antes de empezar</b></p>

<p><i>For teachers</i></p>

<p>The focus of this instructional sequence is the connection between everyday objects and social experience.</p>

<p><b>Step 1.</b><i> In class. Display image Christmas Day, 1953</i> [ID:P67. File: shan_p.135], and allow enough time for students to observe the image without interruptions.</p>

<p><b>Step 2.</b> After a few minutes, ask your students what they see. Consider displaying on the board a list of vocabulary and phrases that will help your students make a detailed description in Spanish. </p>

<p><b>Step 3.</b> Proceed to frame  topic of class discussion. The following script may be useful: <i>Los objetos de la vida cotidiana nos dicen mucho sobre la experiencia social, cultural y lingüística de las personas. Lo cotidiano se desarrolla en un contexto social específico. El análisis de estos artefactos nos permite identificar características de la vida de quienes los usan. Los objetos que nos rodean en el día a día cuentan historias sobre quiénes somos, qué hacemos, y qué atesoramos.</i></p>

<p><b>Step 4.</b> Ask students what they (think) they know about the people represented in the photo. Who are they? What are they like? Where do they live? What do they treasure? How do you know? After every student has contributed something in Spanish to the conversation, share with your students the information about this image: A black and white photograph of siblings William D. Schubert, Pamela L. Schubert and Robert S. Schubert, taken at home, in LIncoln, Nebraska, on Christmas Day 1953. Consider extending the conversation to help students analyze the relationship between the seer and the seen: Who took the photo (e.g., the parents)? Who is assigning value and meaning to the images we consume?</p>

<br>

<p id="continuar"><b>Para continuar la conversación</b></p>

<p><i>For teachers</i></p>

<p>In this activity, students will practice making detailed descriptions in Spanish and will make inferences about the social and historical context of an everyday object. By analyzing and describing the image of an everyday object in their own lives, they will also reflect about their own experience. </p> 

<p><b>Step 1.</b> Display a second image from the same home and the same historical period. This is a black and white photograph of a television with tchotchkes on top [ID: P76. File:shan_p.153]</p>
 
<p><b>Step 2.</b> Working in pairs, ask students to describe in Spanish the objects they see on top of the television. They must describe at least two characteristics (texture, use, material, volume, etc.) for each item.</p>

<p><b>Step 3.</b> Together, each pair of students must answer the following questions: <i>¿Qué les dicen esos objetos acerca de las personas que vivían en esa casa? ¿Por qué creen que  escogieron esos objetos y no otros para colocarlos encima de la televisión?</i></p>

<p><b>Step 4.</b> Ask each student in the pair to look through the photos on their phone and find a photo of a thing. Without context from the owner of the image, their classmate will describe the image in Spanish and will guess why it was important for the owner to take that photo. Tie it back: Who took the photo? Who is assigning value and meaning to the images we consume?</p>

<br>

<p id="mira"><b> Mira otra vez, mira más de cerca</b></p>

<p><i> For teachers</i></p>

<p> This activity includes a brief pre-activity reading, and a set of post-analysis questions that will help your students think about the context and features of the digital object with which they are working.</p>

<!-- TODO A link to the pdf document is embedded in the words “Primary Source Analysis Tool” -->

<p>Because you are more familiar with the proficiency level, profiles, and developmental needs of your own students, you may, of course, which to add your own. A good resource to help you prepare in a time-effective manner is the <i>Primary Source Analysis Tool </i>, published by the Library of Congress, and freely available in electronic or pdf formats.</p>

<br>

<p><i>For students </i></p>

<h5>Para que mandes traer alguna cosa para los muchachos</h5>

<p>Jesusita Baros Torres nació en Juchipila, Zacatecas, México, y emigró a los Estados Unidos en la década de 1920. Vivió en Fort Lupton, Colorado, casi cuarenta años, hasta que falleció en 1976. Como sucede en muchas familias, uno de sus hijos permaneció en la misma ciudad y los demás vivieron lejos de ella. Al casarse, su hija Santos se fue a vivir a Nebraska, donde crió su propia familia.</p>
 
<p>Como una manera de conectarse con sus nietos y de enviarles su cariño, Jesusita ahorraba sus estampillas de cliente frecuente y se las enviaba a su hija Santos para que les comprara algo que les gustara en fechas especiales, como cumpleaños y navidad. En la carta que vas a leer, Jesusita le ofrece a Santos enviarle dos libros de estampillas desde Colorado hasta Nebraska para que las junte a las que ya tiene y compre algo para sus nietos. Las estampillas eran del supermercado Safeway, uno de los más populares en Colorado por ese entonces.</p> 
 
<p>Las estampillas de cliente frecuente fueron muy populares en los Estados Unidos entre las décadas de 1930 y 1970. Con ellas, los supermercados buscaban atraer clientela. Para los consumidores, eran una forma de adquirir bienes de consumo como juguetes, productos para el cuidado personal y utensilios domésticos.</p> 

<p>La mecánica era bastante sencilla: por cada diez centavos en compras, el cliente recibía una estampilla, que debía pegar en un libro. Estas estampillas se ahorraban hasta completar uno o más libros que podían canjearse por diversos productos. Los años cincuenta marcaron la edad de oro de estas promociones.</p>

<p>Para completar esta actividad, vas a trabajar con dos objetos digitales de la colección Shanahan. En la primera imagen hay diez estampillas de cliente frecuente (o <i>trading stamps</i>), que pertenecieron a Jesusita Baros Torres. La segunda es una carta que le escribió a su hija Santos en 1962.</p>

<br>

<p><i>For teachers</i></p>

<p>Present students with the set of following set of questions. Iff appropriate, add your own. Remember that you can save time and effort by using the <italics> Primary Source Analysis Tool <italics>, published by the Library of Congress.</p>

<p>A. Lee la carta [L94] e identifica tres cosas que Jesse Baros, el hijo de Jesusita, compró para su casa nueva. ¿Qué reparaciones se hicieron en casa de Jesse Baros? ¿Qué opinaba Jesusita del plan de su hijo y su nuera de comprar una casa y mudarse lejos de ella?</p>
 
<p>B. Al leer esta carta, notarás que algunos detalles nos dan pistas sobre la vida de quien la escribió. Por ejemplo, Jesusita no recibió mucha educación formal. Identifica tres palabras que no están escritas como las encontrarías en un libro y escríbelas en su forma estándar. Identifica dos palabras que son evidencia del contacto del inglés y el español en su comunidad.</p>
 
<p>C. La lengua estándar es la variedad de una lengua que aprendemos en la escuela. Las palabras <i>ayga </i> y <i>dilates</i>, que encontrarás en esta carta, son dos formas muy antiguas que sobreviven en algunas variedades de español mexicano rural. Escribe la forma estándar de estas dos palabras.</p>
 
<p>D. Usa el contexto para ayudarte y escribe qué pueden significar las dos palabras que aparecen resaltadas en estos dos fragmentos:</p>
<p>“Compraron <b> una jerga </b> muy bonita que les costo $400”
	<br>
“Y al jerry le pusieron su cuarto abajo en <b>el soterano</b>”</p>

<!--TODO Description of objects and thumbnails as a linked PDF? Refer to Google Doc "TEXTS FOR LEARN PAGE JUNE 18/2019" -->

<!-- TODO any way we can pull those from TEI? -->

<br>

<h5>Transcript</h5>

<h5>Translation</h5>

<br>

<p id="manos"><b>Después de leer: ¡manos a la obra!</b></p>

<p><i>For students</i></p>

<p> <i>Después de leer.</i> Observa la forma en la que Jesusita empieza y termina su carta. Aunque la ortografía no es estándar, notarás que su estilo es bastante formal. Imagina que tú eres uno de los tres niños que recibió un juguete comprado con estas estampillas. Escríbele una carta en español de entre 5-10 líneas para agradecer el regalo. Incluye una descripción del juguete y de cómo lo estás usando. Por ejemplo: <i> “Muchas gracias. Con las estampillas que nos mandaste mi mamá me compró un avión para armar. Es de plástico rojo y verde y ya lo estoy armando con mis hermanos.”</i> </p>

<p> Para escoger tu juguete puedes revisar el catálogo de <i>Green Stamps</i>, que vas a encontrar <a href="http://flashbak.com/livin-the-dream-with-green-stamps-a-1975-catalog-26187/" target="_blank"><i>aquí.</i></a></p>

<br>

<h5 id="grammar">Focus on grammar: Contrast between infinitive and gerund in Spanish</h5>

<p><i>For teachers</i></p>

<p>Before students begin to write their thank you notes, review with them the contrast between infinitive and gerund in Spanish.</p>

<br>

<p><i>For students</i></p>

<p>Después de leer. Ahora vamos a practicar nuestras habilidades de descripción. Al completar esta actividad verifica que usaste infinitivo (verbos que terminan en -ar, -er, -ir) para hablar de cosas que todavía no ocurren, y gerundio (verbos que terminan en -ando, -iendo) para hablar de cosas que están en proceso, o que están ocurriendo de manera simultánea.</p>

<p><b> Esta es una diferencia importante entre el inglés y el español</b></p>

<table class="table table-striped">
	<tr>
		<td><p><i>En inglés, los verbos que terminan en -ing pueden significar dos cosas distintas...</i></p></td>
		<td><p><i>En español usamos una terminación distinta para comunicar estos dos significados</i></p></td>
	</tr>
	<tr>
		<td><b>infinitivo</b>
			<br>
			<i> Playing is the right of every child </i>
			<br>
			<p> Cosas que nadie está haciendo, verbos sin conjugar.</p></td>
		<td><b>infinitivo</b>
			<br>
			<i> Jugar es un derecho de todos los niños.</i>
			<br>
			<p> Cosas que nadie está haciendo, verbos sin conjugar.</p></td>			
	</tr>
	<tr>
		<td><b>gerundio</b>
			<br>
			<i> Pamela is playing with her doll and watching tv </i>
			<br>
			<p> Cosas que ocurren de manera simultánea o que están en proceso.</p></td>
		<td><b>gerundio</b>
			<br>
			<i> Pamela está jugando con su muñeca y viendo la televisión</i>
			<br>
			<p> Cosas que ocurren de manera simultánea o que están en proceso.</p></td>		
	</tr>
</table>

<br>

<h5 id="language">Focus on language: Language contact phenomena</h5>

<p><i>For teachers</i></p>

<p>In this activity, students practice their reading skills while they learn about language contact phenomena.</p>

<br>

<p><i>For students</i></p>

<p><b>Para hablar de lengua: Fenómenos de contacto lingüístico </b></p>

<p> Cada vez que los hablantes de dos o más lenguas interactúan de manera sostenida se producen fenómenos lingüísticos específicos, que son resultado de la influencia de una lengua sobre otra. Algunos, como el préstamo de palabras, ocurren en todas las lenguas. Otros son el resultado del contacto estrecho e intenso de dos o más grupos de hablantes en un mismo espacio . Por ser parte de la experiencia bilingüe de sus hablantes, los fenómenos de contacto lingüístico son una característica importante del español de los Estados Unidos.</p>

<p>Veámos algunos de ellos:</p>

<p><i> Cambio o alternancia de códigos </i></p>

<p> Es el uso de dos o más lenguas en un mismo segmento de habla o de escritura. Puede ser interoracional (cuando ocurre entre dos frases distintas), o intraoracional (cuando ocurre dentro de una misma frase).</p>
 
<p>Contrario a lo que pudiera parecerle a una persona monolingüe, la alternancia de códigos sigue reglas sintácticas y pragmáticas complejas que demuestran un alto nivel de bilingüismo. En la mayoría de lo casos, el cambio de código no sucede porque un hablante olvide o no conozca una palabra, sino porque conoce su dimensión simbólica.
Otros motivos para la alternancia de código son: Para dar énfasis, para demostrar solidaridad, para citar lo que dijo otra persona en el idioma que lo dijo, porque no existe un concepto equivalente, para jugar con el lenguaje, o para referirse a algo que no existe o no es común en la lengua meta (Potowski, 2010).</p>

<p><i>Préstamo</i></p>

<p>Es el empleo de una palabra de la lengua A, en una lengua B. Puede sufrir adaptaciones morfológicas o fonológicas. Por ejemplo:
“Y escríbale a don Faustín y dígale que si le pagó el <b>taz</b> [tax] que le mande los recibos como se los mandé yo” (préstamo morfológicamente adaptado)
Impuesto-> taz<-tax </p>

<p><i>Extensión léxica</i></p>

<p>Es el uso de una palabra que existe en la lengua A, con el significado de la lengua B.
Por ejemplo: estampilla/sello estampa <-stamp </p>

<p><i>Calco</i></p>

<p>Es la traducción literal de una frase completa, de manera que la estructura es de una lengua A y el vocabulario es de la lengua B. 
Por ejemplo: Ir al juzgado-> Ir a la casa de corte <-Go to the courthouse</p>

<br>

<p><b>Después de leer</b></p>

<p> A. ¿Cuál de los fenómenos lingüísticos que se describen en esta lectura ocurre en todas las lenguas del mundo? </p> 

<p>B. Vuelve a leer la carta que le envió Jesusita Baros Torres a su hija Santos en noviembre de 1958. Marca tres ejemplos de la influencia del inglés en la escritura en español de Jesusita. Identifica qué tipo de fenómeno lingüístico ilustra cada uno.</p>

<p>C. Jesusita Baros Torres era hablante nativa de español y conocía la palabra <i>navidad</i>.  Sin embargo, en su carta escribe: “Si quieres no te dilates en contestarme para mandártelas antes que se lleguen xmas”. ¿Por qué crees que cambia al inglés?</p>

<br>

<h5 id="paso">Un paso más: en comunidad</h5>

<p><i>For teachers</i></p>

<p>In this extension activity, students establish a link between the topic of this lesson and LatinX experiences in their own community.</p>

<br>

<p><i>For students</i></p>

<p>En esta lección hemos practicado cómo describir objetos en español. En esta actividad vamos a practicar la descripción de lugares.</p>

<p><b>Paso 1.</b> Antes de clase. Piensa en el lugar de tu comunidad que más te guste. Debe ser un sitio público, que pueda reconocer otra persona que viva en tu misma ciudad. Tómale una foto y prepárate para mostrarla en clase (puedes imprimirla o mostrarla en la pantalla de tu teléfono, tableta o computadora. No esperes a clase para empezar a buscarla).</p>

<p><b>Paso 2.</b> En clase. Trabajando en pareja. Sin ver tu foto, tu compañer@ va a intentar adivinar tu lugar favorito a partir de tu descripción en español. Piensa bien en los adjetivos que puedes usar para describir colores, olores, ubicación, tamaño, propósito, entorno, etc.</p> 

<p><b>Paso 3.</b> Después van a cambiar papeles y tú vas a intentar adivinar cuál es el lugar favorito de tu compañer@. En esta actividad no gana la persona que adivina, sino la persona que describió su lugar favorito con tanto detalle que le permitió a su compañer@ adivinarlo.</p>

<br> 

<p><i>For teachers</i></p>

<p> <i> Down the rabbit, whole… </i> is an optional activity designed to be informal, ludic, and open-ended. It involves students going on an internet rabbit hole with the intention of learning more about a seemingly minor detail presented in this lesson. This activity is also intended to reinforce students’ ability to discern between trustworthy and untrustworthy internet sites.</p> 

<p>This activity has three rules, which may be modified to suit the type and goals of your class:</p> 

<ul>
	<li>The class or the group of students who will be playing (and not the teacher) agrees on a time limit (e.g. 10 minutes, half an hour, a class period, a week, a month).</li>
	<li>At the end of the agreed time period, rabbit hole travelers share what they learned with the rest of the group in an informal conversation in Spanish.</li>
	<li>Rabbit hole travelers show their work: What pages did they visit? What kind of pages were they? How many leaps (jumps from one site to another) took them to find the information they were looking for?</li>
</ul>

<br>

<p id="rabbit"><b>Down the rabbit, whole…</b></p>

<p>La pintora mexicanoamericana Carmen Lomas Garza nació en Kingsville, Texas en 1948. Sus cuadros, famosos en todo el mundo, reflejan una fuerte influencia del arte popular mexicano. Las pinturas de Lomas Garza retratan escenas de la vida cotidiana en la comunidad mexicanoamericana de Kingsville en la primera mitad del siglo XX. </p>

<p>El cuadro <i> Cakewalk </i> parece, a primera vista, un día de fiesta común y corriente. En realidad, este cuadro retrata un evento para recaudar fondos para la organización American GI Forum. Usa Google Images para ver una copia de cuadro. ¿Qué ves? Mira bien los detalles. ¿Qué te llama la atención? ¿Qué es el American GI Forum? ¿Por qué es importante para la historia de las comunidades mexicanoamericanas?</p>

<div class="pull-left">
<%= link_to t("teach.lesson02.title", default: "Family"), teach_lesson02_path, class: "btn btn-primary" %>
<%= link_to t("teach.lesson03.title", default: "Religion"), teach_lesson03_path, class: "btn btn-primary" %>
<%= link_to t("teach.lesson04.title", default: "Work"), teach_lesson04_path, class: "btn btn-primary" %>
<%= link_to t("teach.lesson05.title", default: "Identity"), teach_lesson05_path, class: "btn btn-primary" %>
</div>
