<h1><%= t "teach.lesson01.title" %></h1>

<%= render "teach/lessons_shared/language_warning" %>

<p>In this lesson we examine a digital object and its context. Students will describe an everyday object to analyze its individual features and its relationship to its historical context. Drawing from their own environment, they will establish connections between their personal experience and that of the owner of the object they are describing.</p>

<p>Students will also learn what are language contact phenomena, why they come about. After identifying a few examples present in this collection, they will explore why they are an important part of the language experience of Mexican American communities.</p>

<%= render "teach/lesson01/1_overview" %>

<h2><%= t "teach.lesson_plans.instruction_sequence" %></h2>

<p class="lesson_sequence_subtitle h4">
  La vida secreta de una cuchara: Objetos domésticos, historia familiar y experiencia social
</p>

<%= render "teach/lessons_shared/table_of_contents" %>
<%= render "teach/lesson01/2_antes" %>
<%= render "teach/lesson01/3_continuar" %>
<%# mira partially powered by API results %>
<%= render "teach/lesson01/4_mira" %>
<%= render "teach/lesson01/5_manos" %>
<%= render "teach/lesson01/6_grammar" %>
<%= render "teach/lesson01/7_language" %>
<%= render "teach/lesson01/8_paso" %>
<%= render "teach/lesson01/9_rabbit" %>

<%= render partial: "teach/lessons_shared/more_plans", locals: { lesson: 1 } %>
