<h1><%= t "teach.lesson03.title", default: "Teach and Learn" %></h1>

<%= render "language_warning" %>

<p>In this lesson we reflect on the importance of religious experience for many LatinX in the United States. We also develop our observation skills by analyzing the physical properties of an object and making inferences about its owner.</p>

<br>

<div class="well">
  <h4>Learning objectives</h4>

  <ul class="objectives">
    <li>Students will learn about the salience of religion in the construction of ethnic solidarity networks in Mexican American communities</li>
    <li>Students will manipulate and compare a set of digital objects to make inferences about those objects and their historical context</li>
    <li>Students will become acquainted with the concept of sociolinguistic register and will reflect on the ways in which their own speech varies according to context, interlocutor and communicative purpose</li>
  </ul>

  <h4>In this lesson, we focus on…</h4>

  <ul class="focus">
    <li>Visual literacy: Analysis of a digital object and its context</li>
    <li>Language: The concept of sociolinguistic register</li>
    <li>Grammar: Uses of the conditional and the future to speculate about present and past events</li>
  </ul>

  <h4>Materials</h4>

  <!--TODO insert links to objetcs in every "digital copy". Refer to Google Docs TEXTS FOR LEARN PAGE JUNE 18-2019 -->

  <ol class="materials">
    <li>Digital images of front and back of personal rosary belonging to Jesusita Baros Torres.</li>
    <li>Digital image of German rosary. 1760-1800. Silver filigree and glass beads. © Victoria and Albert Museum, London.</li>
    <li>Digital images of front and back of memorial card for Jesusita Baros Torres. </li>
    <li>Digital image of page one of personal letter from Jesusita Baros Torres to Santos Baros Schubert, dated April 7, 1961.</li>
    <li>Digital image of page one of personal letter from Jesusita Baros Torres to Santos Baros Schubert, dated March, 11, 1958.</li>
    <li>
      Library of Congress
      <a href="http://www.loc.gov/teachers/usingprimarysources/resources/Analyzing_Books_and_Other_Printed_Texts.pdf"
      target="_blank" rel="nofollow noreferrer">Teacher’s Guide</a>
      to Analyzing Books & Other Printed Texts (one-page handout) [pdf]
    </li>
  </ol>
</div>

<!-- TODO check alignment, I believe justify is better -->

<br>

<h4>Instructional Sequence</h4>

<h5>Pido a Dios por ustedes</h5>

<br>

<p><strong>Lesson plan overview</strong></p>

<ol type="1">
  <li><a href="#antes">Antes de empezar</a></li>
  <li><a href="#continuar">Para continuar la conversación</a></li>
  <li><a href="#mira">Mira otra vez, mira más de cerca</a></li>
  <li><a href="#manos">Después de leer: ¡manos a la obra!</a></li>
  <li><a href="#grammar">Focus on Grammar</a></li>
  <li><a href="#language">Focus on Language</a></li>
  <li><a href="#paso">Un paso más: en comunidad</a></li>
  <li><a href="#rabbit">Down the rabbit, whole...</a></li>
</ol>

<br>

<p id="antes"><strong>Antes de empezar</strong></p>

<p><em>For teachers</em></p>

<p>The focus of this instructional sequence is the importance of religion for many LatinX families and communities. In this lesson, students manipulate a set of digital objects related to the religious practice of one Mexican American woman, and make inferences about her social experience.</p>

<p><strong>Step 1.</strong> In class. Begin the conversation by highlighting the diversity of religious experience among LatinX. Highlight the fact that although the majority of Latin@s in the US are Catholic or Christian, there are also Jewish, Muslim, Buddhist Latin@s, as well as Latin@s who ascribe to other systems of belief, and Latin@s who do not practice any religion at all. Consider enriching your class discussion with data from the <em>Religious Landscape Study</em> published online by the Pew Hispanic Research Center.</p>

<p><strong>Step 2.</strong> Without giving them more details, tell students that you are about to show them a personal object belonging to someone for whom religion was very important. Tell them that they will be working in small groups to examine its materials, composition, use, wear, etc. to find out what the object tells them about the life of its owner.</p>

<p><strong>Step 3.</strong> Organize students into smaller groups. Display or write on the board 10-15 vocabulary items and 3-5 phrases in Spanish that will help students present their inferences to the rest of the class. A few ideas: <em>Me parece que… , podría ser que…, es posible que…, quizá sea porque...</em></p>

<p><strong>Step 4.</strong> Give students time to manipulate the two digital images of Jesusita Baros Torres’ rosary. Ask them to zoom in on the details, and to look at both sides of the object. Ask them to jot down what they see, what comes to their minds. What is this, and who does it belong to? Does it look like something you own or you know? As your students work, walk among the groups and ask questions that invite them to look closely at the details in the image. For example: <em>Si ves muy de cerca, qué notas en cada nudo? ¿De qué está cubierto? ¿Qué es? ¿Es algún tipo de grasa? ¡Qué interesante! ¿Por qué crees que cada nudo está cubierto de grasa? ¿Te parece un objeto de decorativo, o un objeto que se usó muchas veces?</em></p>

<p><strong>Step 5.</strong> Each group shares with the rest of the class, in Spanish, what they think they know about that object and its owner. If needed, consider reminding students to make use of the vocabulary and the phrases you’ve listed on the board.</p>

<p><strong>Step 6.</strong> Tell students that the picture they’ve just analyzed  is an image of the personal rosary of Jesusita Baros Torres, a Mexican American woman who migrated to the United States with her two youngest children from Jalpa, Zacatecas, México, in the 1920s, and belonged to her Catholic parish in Fort Lupton, Colorado, until her death in 1976. Invite students to think about the role of religion and community in the immigrant experience. If appropriate, ask your class if anyone has a story that highlights the importance of a religious community in their family’s life.</p>

<br>

<p id="continuar"><strong>Para continuar la conversación</strong></p>

<p><em>For teachers</em></p>

<p>In this activity, students compare two images of similar objects and make inferences about their use and the identity of their owners. While doing so, they practice making comparisons and expressing hypotheticals in Spanish. </p>

<p>For this activity you will need to display side-by-side images of Jesusita Baros Torres’ rosary, and 18th Century silver and glass German rosary that belongs to the collection of the Victoria and Albert Museum in London. Without providing details about the provenance of the second image, invite students to compare both objects and to articulate what they think they know about the function and form of both rosaries. If appropriate, you may consider displaying on the board 3-5 phrases that will help students to make comparisons and express hypotheticals in Spanish.</p>

<p>After every student in class has contributed a comment in Spanish to this comparison, you can let your students know that it is an image of a silver filigree and Murano glass bead rosary made between 1760-1800 in the south of Germany: <em> Fíjense que este de acá es un rosario muy bonito, de filigrana de plata y cuentas de vidrio de Murano, que fue hecho en el sur de Alemania entre 1760 y 1800. Filigrana, ¿conocen esa palabra? Es una palabra que viene del mundo de la joyería. Es una técnica para trabajar el metal así como en esta imagen. </em> Alternatively, you may wish to show the image in the context of the <a href="http://collections.vam.ac.uk/item/O116870/rosary-unknown/" target="_blank" ref="nofollow noreferrer">museum’s website.</a></p>

<br>

<p><em> For students</em></p>

<p>Ahora vamos a comparar la imagen que acabamos de analizar con la de un objeto similar. Cuando observas las dos imágenes juntas, ¿qué sabes sobre esos dos objetos? ¿qué sabes sobre los materiales con los que fueron hechos? ¿para qué fueron hechos? ¿Qué te dicen esos dos objetos acerca de sus dueños? ¿Cómo lo sabes, qué detalles de cada imagen te hacen pensar eso? Comparte tus respuestas con tus compañeros. Si las necesitas, usa las frases que tu maestr@ escribió en el pizarrón para ayudarte.</p>

<br>

<p id="mira"><strong> Mira otra vez, mira más de cerca</strong></p>

<p><em> For teachers</em></p>

<p>In this activity, students analyze two letters sent by Jesusita Baros Torres to her daughter, Santos Baros Schubert, from Fort Lupton, CO, to Lincoln, NE in 1958 and 1961. These letters, written in Spanish, were the main form of communication between mother and daughter over the course of three decades.</p>

<p>The first letter (L198, dated 1961), highlights Jesusita’s belief in the importance of transmission of the Catholic faith for the wellbeing of her family. The first letter (L196, dated 1958), highlights the importance of religious societies for the wellbeing of ethnic solidarity networks.</p>

<p>After a brief introduction to the digital objects they will manipulate, students will be presented with a set of questions that will help them understand these objects and their historical context. Because you are more familiar with the proficiency level, profiles, and developmental needs of your own students, these questions are to be prepared by you, the teacher. A good resource to help you prepare these questions in a time-effective manner is the <a href="http://www.loc.gov/teachers/usingprimarysources/resources/Analyzing_Books_and_Other_Printed_Texts.pdf" target="_blank" rel="nofollow noreferrer">Primary Source Analysis Tool</a>, published by the Library of Congress, and freely available in electronic or pdf formats.</p>

<br>

<p><em>For students </em></p>

<p>Las dos cartas que vas a leer fueron enviadas por Jesusita Baros Torres a su hija Santos Baros Schubert , desde Fort Lupton, Colorado, hasta Lincoln, Nebraska, en 1958 y 1961.</p>

<p>En una época en que las llamadas de larga distancia eran muy caras, recibir y enviar cartas era la mejor manera de enterarse de las noticias de la familia, pedir favores, hacer recomendaciones y mantener vivos los lazos afectivos. En los hogares en los que se hablaba una lengua adicional al inglés, también era una manera de mantener viva la lengua de la familia. Estas cartas, escritas en español, fueron la principal forma de comunicación entre madre e hija durante tres décadas.</p>

<p>Usa las preguntas que te va a presentar tu maestr@ para analizar estos dos documentos.</p>

<br>

<p><em>For teachers</em></p>

<p>Present students with the set of questions you’ve prepared to help them work with these digital objects. Remember that you can save time and effort by using the <em> Primary Source Analysis Tool</em>, published by the Library of Congress.</p>

<!--TODO Description of objects and thumbnails as a linked PDF? Refer to Google Doc "TEXTS FOR LEARN PAGE JUNE 18/2019" -->

<!-- TODO any way we can pull Transcript and Translation from TEI? -->

<br>

<h5>Transcript</h5>

<h5>Translation</h5>

<br>

<p id="manos"><strong>Después de leer: ¡manos a la obra!</strong></p>

<p><em>For teachers</em></p>

<p>After completing the pre-reading activities and working with the digital objects selected for this lesson, students are assigned a short reading about the history of the creation of the first Catholic parish in Denver, CO. After reading, students are asked to complete a one-page writing assignment in which they will use conditional and simple future to speculate about past and present events. Before assigning this text, consider presenting students with a model.</p>

<br>

<h5 id="grammar">Focus on grammar: Use of preterite and imperfect to describe past events</h5>

<p><em>For teachers</em></p>

<p>Before students begin to write their texts, review with them the uses of the future and conditional to express probability.</p>

<br>

<p><em>For students</em></p>

<p>Ahora vamos a practicar nuestras habilidades de lectura y escritura. Santos Baros, de Fort Lupton Colorado, y William F. Schubert, de Lincoln, Nebraska, se casaron en una ceremonia religiosa que se realizó en Denver, Colorado, el nueve de noviembre de 1946, veinte años después de la fundación de la primera parroquia latina de la arquidiócesis de Denver. </p>

<p>Lee este <a href="http://stcajetan.denverparish.com/es/about/historia/" target="_blank">texto breve</a> sobre el papel fundamental que jugaron las mujeres mexicanoamericanas en la fundación de esa parroquia. Después de leer, escribe un texto de una página en el que respondas las siguientes dos preguntas: ¿Por qué crees que era tan importante para ese grupo de mujeres tener una parroquia en la que se ofrecieran misas en español? Hoy en día, independientemente de su denominación religiosa, por qué crees que hay en todo Estados Unidos iglesias, templos y otras comunidades religiosas que ofrecen servicios en español incluso en localidades donde el porcentaje de la población latina es bajo?</p>

<p>El escribir, no te olvides de emplear los dos usos del futuro y del condicional que acabamos de revisar: </p>

<!--TODO formating and design of these table -->

<table class="table table-striped">
  <tr>
    <td class="col-md-6"><p><em>Condicional usado para hablar de algo que podría suceder si sucede otra cosa antes</em></p></td>
    <td class="col-md-6"><p><em>Condicional usado para especular sobre un evento pasado</em></p></td>
  </tr>
  <tr>
    <td><p>Si pudiera conversar con Jesusita, le preguntar<strong>ía</strong> <br>
    cómo eran las kermeses de su parroquia en Fort Lupton.</p></td>
    <td><p>Pablita Salas no vino a la kermés ayer, quizás estar<strong>ía</strong> de viaje.</p></td>
  </tr>
</table>

<table class="table table-striped">
  <tr>
    <td class="col-md-6"><p><em>Futuro simple usado para hablar de algo que va a suceder</em></p></td>
    <td class="col-md-6"><p><em>Futuro simple usado para para especular sobre un evento presente</em></p></td>
  </tr>
  <tr>
    <td><p>La kermés de mañana estar<strong>á</strong> muy bonita.</p></td>
    <td><p>Pablita Salas no vino a la kermés, quizás estar<strong>á</strong> de viaje.</p></td>
  </tr>
</table>

<br>

<h5 id="language">Focus on language: Intergenerational maintenance and loss of minority languages</h5>

<p><em>For teachers</em></p>

<p>In this activity, students learn about the concept of sociolinguistic register and reflect on the ways in which their own speech varies according to context, interlocutor and communicative purpose.</p>

<br>

<p><em>For students</em></p>

<p><strong>Para hablar de lengua: Interlocutor, contexto, propósito y registro lingüístico</strong></p>

<p>Independientemente de su nivel educativo o condición social, todas las personas modifican su manera de hablar dependiendo de con quién, dónde, y para qué están hablando. La competencia sociolingüística de una persona es su capacidad para entender y producir su lengua siguiendo las normas y convenciones (sociales y lingüísticas) del evento comunicativo en el que está participando.</p>

<p>Las personas que tienen acceso formal (en la escuela) o informal (en la comunidad), a diferentes formas de hablar y escribir,  pueden comunicarse usando un mayor número de registros lingüísticos. <em> Registro lingüístico </em> quiere decir una manera de hablar o escribir condicionada por el contexto. Este contexto incluye, por ejemplo, el estatus social de los hablantes, la situación, el propósito y el lenguaje más (o menos) especializado. Las personas bilingües tienen un repertorio estilístico que incluye sus dos lenguas.</p>

<p>Una diferencia de registro importante es el nivel de formalidad. Los registros más formales de una lengua casi siempre son formas de hablar que se aprenden en la escuela, y se emplean para realizar las funciones sociales más prestigiosas (escribir un artículo científico, dar un discurso, hacer una presentación profesional, escribir un texto religioso, etc.). Los registros más informales son formas de hablar más coloquiales, que usamos con la familia o entre amigos. Por lo general, en una comunidad multilingüe las funciones más formales se realizan en la(s) lengua(s) dominantes, mientras que las funciones más informales se realizan en la(s) lengua(s) minoritaria(s).</p>

<br>

<p><strong>Después de leer</strong></p>

<p>A. ¿Qué es un registro lingüístico?</p>

<p>B. Vuelve a leer el texto en inglés que aparece atrás del recordatorio funerario (memorial card) que la familia de Jesusita Baros Torres le entregó a familiares y amigos después de su fallecimiento en 1976. ¿Cuáles son dos o tres pistas (clues) que te permiten saber que está escrito en un lenguaje extremadamente formal?</p>

<p>C. Jesusita Baros Torres habló en español toda su vida, y perteneció durante cuatro décadas a una comunidad religiosa en la que la mayoría de los feligreses hablaba español. Sin embargo, el recordatorio de difuntos, que se distribuyó en su funeral estaba escrito en inglés. ¿Qué te dice este detalle acerca de la comunidad en la que vivía? ¿Qué te dice sobre el mantenimiento y la pérdida del español en las diferentes generaciones de su familia?</p>

<br>

<h5 id="paso">Un paso más: en comunidad</h5>

<p><em>For teachers</em></p>

<p>In this extension activity, students establish a link between the topic of this lesson and LatinX experiences in their own community.</p>

<br>

<p><em>For students</em></p>

<p>Para algunas familias latinas la fiesta de quinceaños es un rito de pasaje muy importante, porque marca el tránsito que hace una joven de la niñez a la adolescencia. Dependiendo de sus tradiciones, de sus gustos y de sus posibilidades, en algunas familias la fiesta es sencilla y se celebra en casa. En otras, es un gran baile con muchos invitados. Para otras, la parte más importante de una fiesta de quinceaños es una misa o servicio religioso en donde la joven, su familia y su comunidad le agradecen a Dios haberle permitido llegar a esa etapa de su vida.</p>

<p>Paso 1. ¿Conoces a alguien que haya celebrado su quinceañera? Pregúntale qué recuerda. ¿Qué le gustó más de la fiesta? ¿Qué le gustó menos? ¿Fue solo una fiesta, o fue también una misa o servicio religioso? ¿Cuál de las dos partes se le hizo más importante? En su opinión, ¿para quién fue esa fiesta de quinceaños, para ella, para su familia, para sus amigos, para su comunidad?</p>

<p>Paso final. En clase. Compartan y comenten las respuestas que escucharon. ¿Cómo se conectan al tema de esta unidad? Si tú misma celebraste tus quince con una fiesta de quince años, incluye tu propia respuesta en la conversación con tus compañeros. </p>

<br>

<p><em>For teachers</em></p>

<p> <em> Down the rabbit, whole… </em> is an optional activity designed to be informal, ludic, and open-ended. It involves students going on an internet rabbit hole with the intention of learning more about a seemingly minor detail presented in this lesson. This activity is also intended to reinforce students’ ability to discern between trustworthy and untrustworthy internet sites.</p>

<p>This activity has three rules, which may be modified to suit the type and goals of your class:</p>

<ul>
  <li>The class or the group of students who will be playing (and not the teacher) agrees on a time limit (e.g. 10 minutes, half an hour, a class period, a week, a month).</li>
  <li>At the end of the agreed time period, rabbit hole travelers share what they learned with the rest of the group in an informal conversation in Spanish.</li>
  <li>Rabbit hole travelers show their work: What pages did they visit? What kind of pages were they? How many leaps (jumps from one site to another) took them to find the information they were looking for?</li>
</ul>

<br>

<p id="rabbit"><strong>Down the rabbit, whole…</strong></p>

<p>¿Qué tienen en común las palabras <em>rosario</em>, <em> misbaha</em>, <em>japa mala</em> y <em>lestovka</em>?</p>

<br>

<h4>More lesson plans</h4>

<div class="pull-left">
  <%= link_to t("teach.lesson01.title", default: "Daily Life"), teach_lesson01_path, class: "btn btn-primary" %>
  <%= link_to t("teach.lesson02.title", default: "Family"), teach_lesson02_path, class: "btn btn-primary" %>
  <%= link_to t("teach.lesson04.title", default: "Work"), teach_lesson04_path, class: "btn btn-primary" %>
  <%= link_to t("teach.lesson05.title", default: "Identity"), teach_lesson05_path, class: "btn btn-primary" %>
</div>
