<h1><%= t "teach.lesson05.title", default: "Teach and Learn" %></h1>

<%= render "teach/lesson_partials/language_warning" %>

<p>In this lesson we reflect on the many layers that make up LatinX identity. After examining a page of Jesusita Baros Torres’ citizenship study guide, we develop and write down our own ideas about the connection between the promises enshrined in the Constitution, and the many ways of being LatinX across the United States. </p>

<div class="well">
  <h2 class="h4"><%= t "teach.lesson_plans.learning_objectives" %></h2>

  <ul class="objectives">
    <li>Students will analyze a written text and establish a connection between the text and their own experience</li>
    <li>Students will develop a written argument in which they express their personal opinion about the multiplicity of LatinX experience in the United States</li>
  </ul>

  <h2 class="h4"><%= t "teach.lesson_plans.lesson_focus" %></h2>

  <ul class="focus">
    <li>Literacy: Development of a written argument</li>
    <li>Language: Communicative functions of codeswitching</li>
    <li>Grammar: Use of imperfect subjunctive to make suggestions</li>
  </ul>

  <h2 class="h4"><%= t "teach.lesson_plans.materials" %></h2>

  <!--TODO insert links to objetcs in every "digital copy". Refer to Google Docs TEXTS FOR LEARN PAGE JUNE 18-2019 -->

  <ol class="materials">
    <%# TODO couldn't find this item from the specific date, anyway %>
    <li>Digital image of cover of citizenship study guide belonging to Mrs. Jesusita Baros, Ft. Lupton CO, 1941.</li>
    <li>Digital image of page 20, citizenship study guide belonging to Mrs. Jesusita Baros, Ft. Lupton CO, 1941.</li>
    <li>
      Library of Congress
      <a href="http://www.loc.gov/teachers/usingprimarysources/resources/Analyzing_Books_and_Other_Printed_Texts.pdf"
      target="_blank" rel="nofollow noreferrer">Teacher’s Guide</a>
      to Analyzing Books & Other Printed Texts (one-page handout) [pdf]
    </li>
  </ol>
</div>

<!-- TODO check alignment, I believe justify is better -->

<h2 class="h4"><%= t "teach.lesson_plans.instruction_sequence" %></h2>

<h5>De muchos, uno</h5>

<br>

<p><strong><%= t "teach.lesson_plans.overview" %></strong></p>

<ol class="numbered">
  <li><a href="#antes">Antes de empezar</a></li>
  <li><a href="#continuar">Para continuar la conversación</a></li>
  <li><a href="#mira">Mira otra vez, mira más de cerca</a></li>
  <li><a href="#manos">Después de leer: ¡manos a la obra!</a></li>
  <li><a href="#grammar">Focus on Grammar</a></li>
  <li><a href="#language">Focus on Language</a></li>
  <li><a href="#paso">Un paso más: en comunidad</a></li>
  <li><a href="#rabbit">Down the rabbit, whole...</a></li>
</ol>

<br>

<p id="antes"><strong>Antes de empezar</strong></p>

<p><em><%= t "teach.lesson_plans.for_teachers" %></em></p>

<p>The focus of this instructional sequence is the diversity of LatinX communities, and the right of every member of these communities, regardless of generation of arrival, legal status, linguistic ability, socioeconomic condition, national origin, sexual orientation, physical ability or religious belief, to enjoy the rights enshrined in the constitution of the United States.  </p>

<p><strong>Step 1.</strong> In class. Present students with the question: <em> ¿Qué es el sueño americano? </em> Write down answers on the board, and after every student in the class has answered in Spanish at least once, have them identify common threads: adequate housing, health, freedom of expression, opportunity, equality, good working conditions, etc. </p>

<p><strong>Step 2.</strong> In class. Present students with a second question: <em> Veamos las ideas que escribimos en el pizarrón  ¿Éste es solo el sueño americano, o es en realidad el sueño de toda la humanidad? </em> Help students make the connection that fundamental rights and wellbeing are a right and an aspiration of humanity.</p>

<p><strong>Step 3.</strong> In class. Use three of the words written on the board to highlight the diversity of LatinX experience. For example, what might the right to form a family mean to a gay LatinX couple? What might access to healthcare mean to an uninsured diabetic Latina? What might economic opportunity mean to a recent college graduate as opposed to his immigrant parents?</p>

<br>

<p id="continuar"><strong>Para continuar la conversación</strong></p>

<p><em><%= t "teach.lesson_plans.for_teachers" %></em></p>

<p>In this activity, students read <em> Libertad sin lágrimas </em>, by Chicano poet Alurista. The class discusses the connections that can be traced between the poem and the topic of this lesson. </p>

<p>Ask students to look at the photograph again and to tell you what they know about the people in the picture: <em> ¿Qué querían? ¿Por qué llegaron ahí? ¿De dónde llegaron? ¿Cómo era su vida? </em> </p>

<p>Tie it together. Help your students make the connection: <em>Vamos a continuar con esta idea de la que hemos estado hablando hasta ahora: Si comiste algo, alguien tuvo que producirlo. Cuando hablamos de los trabajadores agrícolas, frecuentemente pensamos en su trabajo y en lo que produce ese trabajo, pero muy pocas veces nos preguntamos cómo es su experiencia. Hoy vamos a conversar un poco sobre esa parte.</em></p>

<br>

<p><em><%= t "teach.lesson_plans.for_students" %></em></p>

<p>Alurista (Alberto Baltazar Urista Heredia), es un poeta fundacional de la literatura chicana, activista por los derechos civiles de las comunidades mexicanoamericanas y profesor universitario. El poema <em> Libertad sin lágrimas </em> , que ahora vas a leer, se publicó en 1971 y habla de la importancia de la dignidad, la libertad, y la autodeterminación para cualquier proyecto que tenga como objetivo el avance social, político y económico de estas comunidades.</p>

<p>Después de leer este poema sol@ o en grupo, hablemos de las conexiones entre el mensaje del poema y las ideas que escribimos en el pizarrón.</p>

<!--TODO figure out a way to paste text and preserve its formating as Isabel is requesting. Refer to Google Doc TEXTS FOR LEARN PAGE -->

<p class="text-center">Libertad sin lágrimas</p>

<p id="mira"><strong> Mira otra vez, mira más de cerca</strong></p>

<p><em><%= t "teach.lesson_plans.for_teachers" %></em></p>

<p>In this activity, students manipulate two digital objects from the Shannanan collection to learn about the experience of a Mexican American woman who lived during the first half of the Twentieth century. Using clues embedded in these images, they will deploy their background knowledge to make inferences about the ways in which historical period, gender, social context, legal status and economic standing helped to shape her aspirations. Students will also learn about the struggle of many immigrant families to integrate into the fabric of the communities in which they live.</p>

<p>After a brief introduction to the digital objects they will manipulate, students will be presented with a set of questions that will help them understand these objects and their historical context. Because you are more familiar with the proficiency level, profiles, and developmental needs of your own students, these questions are to be prepared by you, the teacher. A good resource to help you prepare these questions in a time-effective manner is the <a href="http://www.loc.gov/teachers/usingprimarysources/resources/Analyzing_Books_and_Other_Printed_Texts.pdf" target="_blank" ref="nofollow noreferrer">Primary Source Analysis Tool</a>, published by the Library of Congress, and freely available in electronic or pdf formats.</p>

<br>

<p><em><%= t "teach.lesson_plans.for_students" %></em></p>

<p>Treinta años antes de que Alurista escribiera Libertad sin lágrimas en California, Jesusita Baros Torres estaba estudiando su guía para la ciudadanía en su cocina de Fort Lupton, Colorado. Jesusita Baros Torres nació en 1896 en el pueblo minero de Jalpa, Zacatecas, México, y emigró a Estados Unidos con sus dos hijos más pequeños en la década de 1920. Aunque no tenía papeles y no hablaba inglés cuando llegó, durante más de cuarenta años crió a su familia y fue parte activa de su parroquia, de su barrio, y de la comunidad mexicana de Fort Lupton.</p>

<p>El documento que tienes frente a ti es una reproducción digital del ejemplar personal que usó para prepararse para presentar su examen de ciudadanía. Esta guía se publicó en 1941, el mismo año en el que Estados Unidos entró en la Segunda Guerra Mundial. Como muchos otros inmigrantes antes y después de ellos, Jesusita y su esposo, Maximino Torres, invirtieron mucho esfuerzo, muchas horas y mucho dinero para regularizar su estatus migratorio. Para ellos, fue un proceso que duró más de veinte años. En 1976, cuando murió, Jesusita Baros Torres había vivido ochenta años, casi cincuenta de ellos en Estados Unidos.</p>

<p>Usa las preguntas que te va a presentar tu maestr@ para ayudarte a analizar estos dos documentos.</p>

<br>

<p><em><%= t "teach.lesson_plans.for_teachers" %></em></p>

<p>Present students with the set of questions you’ve prepared to help them work with these digital objects. Remember that you can save time and effort by using the <em>Primary Source Analysis Tool</em>, published by the Library of Congress.</p>

<!--TODO Description of objects and thumbnails as a linked PDF? Refer to Google Doc "TEXTS FOR LEARN PAGE JUNE 18/2019" -->

<!-- TODO any way we can pull Transcript and Translation from TEI? -->

<br>

<h5>Transcript</h5>

<h5>Translation</h5>

<br>

<p id="manos"><strong>Después de leer: ¡manos a la obra!</strong></p>

<p><em><%= t "teach.lesson_plans.for_teachers" %></em></p>

<p>After completing the pre-reading activities and working with the digital objects selected for this lesson, students are assigned a one-page text in Spanish in which they present their opinion about the multiplicity of LatinX experience as related to the promises enshrined in the Constitution.</p>

<p>Speak with your students about the differences between the promises contained in the preamble to the Constitution and the lived experience of the most vulnerable in their own community. Present students with two or three questions that help them think about and develop their own ideas about this topic. Some examples: <em> ¿Crees que existe una diferencia entre libertad de ser, libertad de hacer y libertad de pertenecer? ¿Qué quiere decir Alurista en el verso libres/albedrío of our own self assertion/and our will? ¿Qué quiere decir para ti libertad sin lágrimas? </em>.</p>

<p>To be complete this task successfully, students texts will include a premise, inference and a conclusion, and will include at least three instances of conditional + imperfect subjunctive to express an opinion, desire or evaluation. Consider presenting students with a model.</p>

<br>

<h3 id="grammar" class="h5">Focus on grammar: Use of imperfect subjunctive to express opinions and desires</h3>

<p><em><%= t "teach.lesson_plans.for_teachers" %></em></p>

<p>Before students begin to write their texts, briefly review the use of imperfect subjunctive to express opinions and desires.</p>

<br>

<p><em><%= t "teach.lesson_plans.for_students" %></em></p>

<p>Después de conversar sobre el tema de esta unidad, vamos a practicar nuestras habilidades de escritura en español. Regresa al texto del poema y a la página del manual de ciudadanía de Jesusita Baros Torres y piensa qué significan para ti las palabras que aparecen en el preámbulo a la Constitución. ¿Qué tienen que ver con las diferentes maneras de ser latin@ en Estados Unidos? Desarrolla tus ideas sobre este tema en un texto de una página.</p>

<p>Al escribir, no te olvides de usar la estructura que acabamos de revisar:</p>

<!--TODO formating and design of these table -->

<table class="table table-responsive table-striped">
  <tr>
    <td class="col-md-5"><p><em>Lo que yo quiero, me gusta o recomiendo…</em></p></td>
    <td class="col-md-7"><p>Lo que va a pasar si se cumple mi deseo…</p></td>
  </tr>
  <tr>
    <td><p><strong>Condicional</strong></p></td>
    <td><p><strong>Imperfecto del subjuntivo</strong></p></td>
  </tr>
  <tr>
    <td><p>Verbos que terminan en <strong>-ía</strong></p></td>
    <td><p>Verbos que terminan en <strong>-ara, -iera, -era</strong></p></td>
  </tr>
  <tr>
    <td>Me gustar<strong>ía</strong> que...</td>
    <td>supi<strong>eras</strong> que l@s latin@s somos una comunidad diversa</td>
  </tr>
  <tr>
    <td>Esperar<strong>ía</strong> que...</td>
    <td>todos disfrut<strong>ára</strong>mos de los mismos derechos</td>
  </tr>
  <tr>
    <td>Ser<strong>ía</strong> importante que…</td>
    <td>Conoci<strong>éra</strong>mos mejor nuestra historia</td>
  </tr>
</table>

<br>

<h3 id="language" class="h5">Focus on language: Communicative functions of codeswitching</h3>

<p><em><%= t "teach.lesson_plans.for_teachers" %></em></p>

<p>In this activity, students learn about the communicative functions of codeswitching, as they practice locating information in a text, inference, and interpretation.</p>

<br>

<p><em><%= t "teach.lesson_plans.for_students" %></em></p>

<p><strong>Para hablar de lengua: Funciones comunicativas de la alternancia de códigos</strong></p>

<p>La alternancia o cambio de códigos (codeswitching, en inglés), es el uso de dos o más lenguas en el mismo turno de habla. Alternar efectivamente entre una lengua y otra requiere un dominio avanzado de la estructura de dos o más lenguas y es una competencia característica de las personas altamente bilingües. Además, requiere tener en cuenta factores como el entorno, el interlocutor, el tema de la conversación y la identidad étnica o social de quienes están hablando. </p>

<p>La alternancia de códigos es parte de lo que llamamos competencia bilingüe. Es un proceso diferente de la mezcla de códigos. La mezcla de  códigos (codemixing, en inglés), es lo que sucede cuando estamos empezando a aprender una segunda lengua y usamos una palabra de nuestra lengua dominante para llenar una laguna léxica.</p>

<p>El translenguaje (translanguaging, en inglés), es una práctica relacionada, que ocurre en el salón de clases cuando un@ alumn@ que está desarrollando sus habilidades lingüísticas y académicas al mismo tiempo, hace uso de los recursos de sus dos lenguas para entender y comunicar mejor lo que está aprendiendo.</p>

<p>La alternancia de códigos puede cumplir diferentes funciones comunicativas. Por ejemplo, a veces cambiamos de lengua para repetir lo que dijo otra persona en la lengua en que lo dijo (función de discurso indirecto). A veces repetimos o enfatizamos lo que acabamos de decir (repeticiones e interjecciones), a veces cambiamos de lengua para comunicar un estado emocional (codificación de emociones), y a veces usamos dos o más lenguas al mismo tiempo para jugar con el lenguaje, para hacer arte, o para contar un chiste que solo es gracioso si entiendes las dos lenguas (función retórica o expresiva). </p>

<br>

<p><strong>Después de leer</strong></p>

<p>A. ¿Cuál es la diferencia entre la alternancia o cambio de códigos y la mezcla de códigos?</p>

<p>B. El uso del español y el inglés en el poema Libertad sin lágrimas <italics>, de Alurista, es un ejemplo de  una de las cuatro funciones comunicativas sobre las que acabas de leer. ¿Cuál? ¿Por qué? </p>

<p>C. Alurista pudo haber escrito este poema solo en inglés o solo en español. En tu opinión, ¿qué quiere decirnos sobre su identidad al usar las dos lenguas al mismo tiempo? </p>

<br>

<h3 id="paso" class="h5">Un paso más: en comunidad</h3>

<p><em><%= t "teach.lesson_plans.for_teachers" %></em></p>

<p>In this extension activity, students establish a link between the topic of this lesson and LatinX experiences in their own community.</p>

<br>

<p><em><%= t "teach.lesson_plans.for_students" %></em></p>

<p>En esta actividad vamos a conectar el tema de nuestra conversación en clase con la experiencia de algunas personas de nuestra comunidad. Entrevista a dos personas que vivan en tu ciudad, que se identifiquen como latin@s y que pertenezcan a dos generaciones distintas. Antes de comenzar, explícales que estamos platicando en clase sobre las diferentes formas de ser latin@ en los Estados Unidos.</p>

<p>Paso 1. Prepárate para anotar sus respuestas.</p>

<p>Paso 2. Pregúntale a cada un@ qué es una cosa que le gusta hacer y que le identifica como individuo, una cosa que le gusta hacer y que le identifica como miembro de la comunidad donde vive y una cosa que le gusta hacer y que le identifica como latin@.</p>

<p>Paso 3. Después, explícale que vas a leerle seis palabras, y pídele que te diga la primera palabra que le venga a la mente después de escuchar cada una. Lee cada palabra de manera clara y pausada.</p>

<p>Estas son las palabras que vas a leerle a tu entrevistad@: </p>

<ul class="list-inline">
  <li>Unión</li>
  <li>Justicia</li>
  <li>Paz</li>
  <li>Protección</li>
  <li>Felicidad</li>
  <li>Libertad</li>
</ul>

<p>Paso 4. Con el permiso de tu entrevistad@, escribe su nombre, género, ocupación, edad y lugar de nacimiento. También escribe la fecha y lugar de tu entrevista (Recuerda que en español escribimos las fechas así: día, mes, año). </p>

<p>Paso final. En clase. Trabajando en grupos de tres. Escriban en el pizarrón las respuestas de sus entrevistados, organizadas por edad, género y lugar de nacimiento. Después de eliminar las respuestas que se repiten, observen las palabras que quedan. ¿Qué cosas en común notan? ¿Cuáles son algunas diferencias que les parecen importantes/interesantes? ¿A qué creen que se deban estas diferencias tomando en cuenta la experiencia de las personas que entrevistaron?</p>

<br>

<!-- RABBIT HOLE INSTRUCTIONS -->

<%= render "teach/lesson_partials/rabbit_hole" %>

<p>El poema que leíste en esta unidad habla de los “caballeros tigre”. Esta es una referencia a los <em>ocēlōpilli</em>, nombre náhuatl de los caballeros jaguar del ejército azteca. Consulta en internet y responde: ¿Quiénes eran los <em>ocēlōpilli</em>? ¿Qué características suyas quiere destacar Alurista en este poema? ¿Por qué crees que Alurista identifica a los jóvenes mexicanoamericanos de su generación con los caballeros tigre, y no con los caballeros águila?</p>

<br>

<%= render partial: "teach/lesson_partials/more_plans", locals: { lesson: 5 } %>
