<h1><%= t "teach.lesson02.title", default: "Teach and Learn" %></h1>

<%= render "teach/lesson_partials/language_warning" %>

<p>In this lesson we examine the patterns of maintenance and loss of Spanish over three generations of one family. We also look at family pictures and practice describing and comparing in Spanish.</p>

<div class="well">
  <h2 class="h4"><%= t "teach.lesson_plans.learning_objectives" %></h2>

  <ul class="objectives">
    <li>Students will practice making comparisons in Spanish</li>
    <li>Students will practice using the contrast between imperfect and preterite to describe past events</li>
    <li>Students will become acquainted with the patterns of intergenerational maintenance and loss of minority languages in the United States</li>
  </ul>

  <h2 class="h4"><%= t "teach.lesson_plans.lesson_focus" %></h2>

  <ul class="focus">
    <li>Literacy: Making comparisons</li>
    <li>Language: Intergenerational maintenance and loss of minority languages</li>
    <li>Grammar: use of imperfect and preterite contrast to describe events in the past</li>
  </ul>

  <h2 class="h4"><%= t "teach.lesson_plans.materials" %></h2>

  <!--TODO insert links to objetcs in every "digital copy". Refer to Google Docs TEXTS FOR LEARN PAGE JUNE 18-2019 -->

  <%# TODO I didn't have access to that document and so I guessed as best I could
      but we should check these files are what Isabel wants! %>

  <ol class="materials">
    <li><%= link_to "Digital copy", item_path(id: "shan_p.257") %> of wedding portrait of Helen & Jess Baros.</li>
    <li><%= link_to "Digital copy", item_path(id: "shan_p.073") %> of wedding portrait of Esperanza Estrada Quirarte and Jesús Ascensión Samaniego.</li>
    <li><%= link_to "Digital copy", item_path(id: "shan_p.067") %> of wedding portrait of Santos Baros and William F. Schubert.</li>
    <li><%= link_to "Digital copy", item_path(id: "shan_L218.meta") %> of personal letter from Jesusita Baros Torres to Santos Baros Schubert, July 25, 1966.</li>
    <li>
      Library of Congress
      <a href="http://www.loc.gov/teachers/usingprimarysources/resources/Analyzing_Books_and_Other_Printed_Texts.pdf"
      target="_blank" rel="nofollow noreferrer">Teacher’s Guide</a>
      to Analyzing Books & Other Printed Texts (one-page handout) [pdf]
    </li>
  </ol>
</div>
<!-- TODO check alignment, I believe justify is better -->

<h2 class="h4"><%= t "teach.lesson_plans.instruction_sequence" %></h2>

<h3 class="h5">Al cabo que sabes leer en español</h3>

<br>

<p><strong><%= t "teach.lesson_plans.overview" %></strong></p>

<ol class="numbered">
  <li><a href="#antes">Antes de empezar</a></li>
  <li><a href="#continuar">Para continuar la conversación</a></li>
  <li><a href="#mira">Mira otra vez, mira más de cerca</a></li>
  <li><a href="#manos">Después de leer: ¡manos a la obra!</a></li>
  <li><a href="#grammar">Focus on Grammar</a></li>
  <li><a href="#language">Focus on Language</a></li>
  <li><a href="#paso">Un paso más: en comunidad</a></li>
  <li><a href="#rabbit">Down the rabbit, whole...</a></li>
</ol>

<br>

<p id="antes"><strong>Antes de empezar</strong></p>

<p><em><%= t "teach.lesson_plans.for_teachers" %></em></p>

<p>The focus of this instructional sequence is intergenerational maintenance and loss of Spanish in LatinX families. With your help, students will reflect about what is lost, beyond language, when two or more generations of the same family cannot communicate with each other. As a secondary goal, students will practice making comparisons in Spanish.</p>

<p><strong>Step 1.</strong> In class. Begin this sequence by centering the conversation on the topic of family. <em> ¿Quién es tu familia? ¿A quiénes consideras tu familia? ¿Hay alguna persona a quien consideres familia aunque no los una un lazo de parentesco formal?</em> Highlight the ways in which families change over time, and the many configurations of LatinX families. Consider displaying family vocabulary on the board. Consider highlighting differences in register: <em> bien bonito/muy bonito/rebonito, más chiquito/más pequeño, se ve bien/se mira bien, etc. </em></p>

<p><strong>Step 2.</strong> Present your students with the following questions and give them a few minutes to think about their answers: <em>¿Qué es algo que haces con tu familia que te hace sentirte parte de tu familia, y qué es algo que haces que es solo tuyo, que te hace sentirte como individuo?</em> Let students know that the activity doesn’t have to be formal or complicated. It can be something as simple as playing cards, telling jokes or cooking together. In two rounds, allow each student in your class to answer each of these two questions.</p>

<p><strong>Step 3.</strong> Tie it together. Repeat a few of the answers that your students have just given you.  Go around the room once more and ask a third question: <em>Qué interesante. A tu familia le gusta jugar a las cartas. ¿Qué juegan? ¿Quién te enseñó a jugar? ¿Crees que podría haberte enseñado sin hablar?</em> etc. Make the connection between language and intergenerational cultural transmission. Let your students know that part of your conversation for the day will be an exploration of what is lost when a family language is lost. </em></p>

<br>

<p id="continuar"><strong>Para continuar la conversación</strong></p>

<p><em><%= t "teach.lesson_plans.for_teachers" %></em></p>

<p>In this activity, students will analyze a set of three related images and will practice making comparisons in Spanish. Present your students with a set of three related wedding portraits (P128 and P33). Two of them were taken in Colorado, in the 1940s, to commemorate the wedding of Jesusita Baros Torres’ two eldest children. The third one (P36), was taken in Zacatecas, Mexico, in the 1960s to commemorate the wedding of Jesusita Baros Torres’ grandson. Connect this activity to the topic of change that happens in families across time, and location. Present each image individually and then the three images side by side. Explain who is depicted and where were the images taken. Allow students enough time to analyze each image. Ask students to make notes on setting, clothing, stance, facial expression, position of bodies in relation to each other, age, elements that are present in the three images and elements that may be present in one but missing on the others.</p>

<p>Consider displaying on the board a list of 5-10 phrases that your students can use to compare the images they are seeing. Depending on the composition of your class, you may wish to have students work in pairs or small groups. After they’ve finished their work, ask students to share their comparisons, and to explain what they think those comparisons tell them about the persons in the photos.</p>

<br>

<p id="mira"><strong> Mira otra vez, mira más de cerca</strong></p>

<p><em><%= t "teach.lesson_plans.for_teachers" %></em></p>

<p> Santos Baros, of Fort Lupton, Colorado, married William F. Schubert, of Lincoln, Nebraska, in 1946. Her mother, Jesusita Baros Torres, set three conditions to grant her blessing: that the couple remain in Colorado, that their future children speak Spanish, and that they be brought up in the Catholic faith. Over the course of the coming decades, only the latter would come to pass.</p>

<p>In this activity, students will read a letter written in 1966 by Jesusita Baros Torres to her daughter Santos. At the time this letter was sent, Santos had been married for twenty years, and had raised her family in Nebraska. As you are reading, consider presenting your students with questions that will help them to identify the clues embedded in the letter that signal:</p>

<ol class="alpha">
  <li>The emotional and economic support that both women Santos provided  one another</li>
  <li>Jesusita’s longing to interact more closely with her Nebraska grandchildren</li>
  <li>The role that geographical distance and language loss played in loss of interaction between generations in this family</li>
  <li>The language brokering activities performed by Kathy, the grandchild who spent more time with Jesusita and developed greater competence in Spanish</li>
  <li>Ways in which maintenance of Spanish help this grandchild access professional opportunities</li>
  <li>Evidence of the influence of English in Jesusita’s Spanish writing</li>
</ol>

<p>After a brief introduction to the digital objects they will manipulate, students will be presented with a set of questions that will help them understand these objects and their historical context. Because you are more familiar with the proficiency level, profiles, and developmental needs of your own students, these questions are to be prepared by you, the teacher. A good resource to help you prepare these questions in a time-effective manner is the <a href="http://www.loc.gov/teachers/usingprimarysources/resources/Analyzing_Books_and_Other_Printed_Texts.pdf" target="_blank" rel="nofollow noreferrer">Primary Source Analysis Tool</a>, published by the Library of Congress, and freely available in electronic or pdf formats.</p>

<br>

<p><em><%= t "teach.lesson_plans.for_students" %></em></p>

<p>Ahora vamos a leer <%= link_to "una carta", item_path(id: "shan_L218.meta") %> que le envió Jesusita Baros Torres a su hija Santos Baros Schubert, en 1966. Jesusita vivía en Fort Lupton, Colorado, y Santos vivía en Lincoln, Nebraska. Santos se casó en 1946 con William F. Schubert. Para darles su permiso, Jesusita estableció tres condiciones: El matrimonio debía permanecer en Colorado, sus futuros hijos debían hablar español, y debían ser criados en la fe católica.  Con el paso de los años, solo se cumpliría una de esas tres condiciones.</p>

<p>Usa las preguntas que te va a presentar tu maestr@ para ayudarte a analizar el texto de esta carta. </p>


<br>

<p><em><%= t "teach.lesson_plans.for_teachers" %></em></p>

<p>Present students with the set of questions you’ve prepared to help them work with these digital objects. Remember that you can save time and effort by using the <em> Primary Source Analysis Tool</em>, published by the Library of Congress.</p>

<!--TODO Description of objects and thumbnails as a linked PDF? Refer to Google Doc "TEXTS FOR LEARN PAGE JUNE 18/2019" -->

<!-- TODO any way we can pull Transcript and Translation from TEI? -->

<br>

<h3 class="h5">Transcript</h3>

<h3 class="h5">Translation</h3>

<br>

<p id="manos"><strong>Después de leer: ¡manos a la obra!</strong></p>

<p><em><%= t "teach.lesson_plans.for_teachers" %></em></p>

<p>After reading the letter sent by Jesusita Baros Torres to her daughter Santos in 1966, students will write a 1-2 page text in Spanish in which they will compare both women’s linguistic experience. Using the clues embedded in the letter, as well as the information students already possess about being bilingual in the context of the United States, students will compare both women’s perceptions about the benefits and costs of Speaking Spanish both within their own household and in the wider community in which they lived. Remind students that they will use the preterite to describe things that happened once or had a clear beginning and end in the past, and imperfect to describe habitual events or states in the past.</p>

<br>

<h3 class="h5" id="grammar">Focus on grammar: Use of preterite and imperfect to describe past events</h3>

<p><em><%= t "teach.lesson_plans.for_teachers" %></em></p>

<p>Before students begin to write their texts, review with them the difference in the use of preterite and imperfect to describe past events.</p>

<br>

<p><em><%= t "teach.lesson_plans.for_students" %></em></p>

<p>Ahora vamos a practicar nuestras habilidades de lectura y escritura. Después de leer la carta que le escribió Jesusita Baros Torres a su hija Santos en 1966, vas a escribir un texto en español de entre 1-2 páginas en el que vas a comparar la experiencia lingüística de estas dos mujeres. Usa las pistas que aparecen en la carta y lo que ya conoces sobre la experiencia de ser hispanohablante en Estados Unidos para comparar las posibles ideas de madre e hija sobre los beneficios y costos de hablar español tanto en su propio hogar como en la comunidad en donde vivían.</p>

<p>Después de escribir, verifica que usaste el pretérito, para hablar de cosas que ocurrieron una vez en el pasado (o que tienen principio y fin claros), y el imperfecto, para hablar de cosas que ocurrieron muchas veces en el pasado (o que no tienen un principio y un fin claro).</p>

<!--TODO formating and design of this table -->

<table class="table table-responsive table-striped">
  <tr>
    <th><strong>pretérito</strong></th>
    <th><strong>imperfecto</strong></th>
  </tr>
  <tr>
    <td><p><em>Cosas que ocurrieron una vez en el pasado o que tienen un principio y un fin claros</em></p></td>
    <td><p><em>Cosas que ocurrieron muchas veces en el pasado o que no tienen un principio y un fin claros</em></p></td>
  </tr>
  <tr>
    <td><p>Jesusita le escribió una carta a Santos el jueves pasado.</p></td>
    <td><p>Jesusita le escribía una carta a Santos cada jueves.</p></td>
  </tr>
</table>

<br>

<h3 class="h5" id="language">Focus on language: Intergenerational maintenance and loss of minority languages</h3>

<p><em><%= t "teach.lesson_plans.for_teachers" %></em></p>

<p>In this activity, students learn about patterns of intergenerational maintenance and loss of Spanish in the context of the United States.</p>

<br>

<p><em><%= t "teach.lesson_plans.for_students" %></em></p>

<p><strong>Para hablar de lengua: El mantenimiento y la pérdida intergeneracional del español en Estados Unidos</strong></p>

<p>Aunque la mayoría de las personas que viven en este país hablan solamente un idioma, Estados Unidos es una nación multilingüe. En el territorio de este país se hablan más de 300 lenguas. Esto incluye lenguas nativoamericanas y también lenguas traídas de otras partes del mundo en diferentes periodos históricos gracias a la colonización, la esclavitud y la migración.</p>

<p>El español es la segunda lengua más hablada del país y la primera lengua europea hablada de manera sostenida desde antes de que Estados Unidos fuera país. Sin embargo, excepto algunas excepciones, todas las variedades coloniales de español habladas en Estados Unidos entre los siglos XVIII y XIX, fueron reemplazadas por variedades modernas desde principios del siglo XX.</p>

<p>Hoy en día, más de 40 millones de personas mayores de 5 años hablan español en casa. La comunidad de hispanohablantes de Estados Unidos, que incluye hablantes nativos y hablantes de segunda lengua, sobrepasa los 50 millones de personas.</p>

<p>A pesar de ser una nación en donde se hablan tantas lenguas, en la mayoría de nuestras comunidades existe poco apoyo para el desarrollo de las habilidades multilingües. Por lo tanto, la pérdida lingüística y la interrupción de la transmisión intergeneracional de una lengua es parte de la experiencia de muchas personas que crecieron en una familia en donde se habla una lengua diferente al inglés.</p>

<p>Por lo general, en las familias inmigrantes en las que se habla una lengua distinta al inglés, se presenta un patrón de tres generaciones: La primera generación, formada por los padres, que llegaron a una edad adulta a Estados Unidos, es dominante en la lengua de familia y aprendiz de inglés como segunda lengua. La segunda generación, formada por los hijos, que nacieron en este país o llegaron cuando eran niños es dominante en inglés, pero mantiene un nivel de competencia alto en la lengua de familia, de tal manera que frecuentemente tiene que servir como puente lingüístico y cultural entre las diferentes generaciones y culturas con las que interactúa. Con excepciones, la tercera generación, formada por los nietos de la generación que llegó a Estados Unidos, es dominante en inglés, y retiene de la lengua de familia solo algunas palabras y expresiones necesarias para participar en la vida social y emotiva de su familia.</p>

<br>

<p><strong>Después de leer</strong></p>

<p>A. ¿Cuál es la segunda lengua más hablada de Estados Unidos?</p>

<p>B. Por lo general, en una familia inmigrante en donde se habla una lengua adicional al inglés, ¿qué generación sirve de traductor cultural y lingüístico para los miembros mayores y los más jóvenes de la familia?</p>

<p>C. ¿Creciste en una familia en donde se habla o se habló un idioma distinto al inglés? ¿Cuál(es)? ¿Sabes hablar esa(s) lengua(s)? En tu opinión, ¿Cuáles fueron algunos factores en la vida de tu familia que influyeron para que tú hables (o no), esa(s) lengua(s) hoy en día?</p>

<br>

<h3 id="paso" class="h5">Un paso más: en comunidad</h3>

<p><em><%= t "teach.lesson_plans.for_teachers" %></em></p>

<p>In this extension activity, students establish a link between the topic of this lesson and LatinX experiences in their own community.</p>

<br>

<p><em><%= t "teach.lesson_plans.for_students" %></em></p>

<p>Santos Baros y William F. Schubert se casaron en Denver, Colorado, en noviembre de 1946. En ese año, Santos trabajaba en Denver, limpiando vagones en los trenes Santa Fe Zephyr, Denver Zephyr y Texas Zephyr. Bill acababa de salir del ejército, y trabajaba en Chicago, Illinois, para una compañía de ferrocarril.</p>

<p>Más de setenta años después, gracias a las cartas que preservó Jane Shanahan, una de sus hijas, sabemos que entre marzo y noviembre de ese año, Santos y Bill se escribieron cartas de amor todos los días. También sabemos que Santos le escribía a Bill antes y después del trabajo, y que le gustaba incluir en sus cartas nombres de canciones que había oído en la radio y que le gustaban o le hacían pensar en él.</p>

<p>Por cierto, en junio de 1946, desafiando muchas de las convenciones de la época, Santos y Bill decidieron que Santos viajara en tren hasta Chicago para poder verse. Santos invitó a su amiga Mary, porque no quería viajar sola, pero en el último momento Mary decidió no ir con ella. A mitad del camino, a Santos le dio miedo seguir sola, y se detuvo en Lincoln, Nebraska, donde se quedó unos días en casa de Gwendolyn y John James Schubert, papás de su prometido. Bill pidió permiso en el trabajo y viajó hasta Lincoln para verla. Esa fue la primera vez que Santos conoció a su familia política, y la primera vez que visitó Lincoln, la ciudad en donde criaría a sus hijos y viviría toda su vida de casada.</p>

<p>Esta es una lista de algunas canciones que aparecen en las cartas de Santos a Bill fechadas entre marzo y noviembre de 1946:</p>

<div class="row">
  <ol class="numbered">
    <div class="col-md-6">
      <li>Te quiero</li>
      <li>I Walk Alone Again</li>
      <li>The Gypsy</li>
      <li>Day by Day (Frank Sinatra)</li>
      <li>I’ll be loving you Always</li>
      <li>All Through the Day</li>
      <li>Stardust (Frank Sinatra)</li>
      <li>Oh! What it Seemed to Be! (Frank Sinatra)</li>
      <li>Begin the Beguine (Frank Sinatra)</li>
      <li>I’ll Buy that Dream</li>
      <li>In Love in Vain</li>
      <li>I’ll Get By</li>
    </div>
    <div class="col-md-6">
      <li>I’m Confessing that I love You, Honest I do</li>
      <li>I Love You Truly</li>
      <li>Let me Call You Sweetheart</li>
      <li>You’re Always in My Heart</li>
      <li>I’m a Big Girl Now</li>
      <li>Embraceable You</li>
      <li>Full Moon and Empty Arms</li>
      <li>Come Rain or Come Shine</li>
      <li>You Belong to my Heart  (Xavier Cugat and Bing Crosby)</li>
      <li>Laughing on the Outside</li>
      <li>I’m in the Mood for Love</li>
      <li>Just You Wait and See</li>
    </div>
  </ol>
</div>

<br>

<p> <em>Opción #1</em> Prepara un playlist (lista de reproducción), con cinco canciones de esta lista. Puedes usar el servicio de transmisión de música en línea (music streaming), que prefieras. Escucha tu playlist y compártelo con tus compañeros. Cada persona puede dedicar algunos minutos para describir cómo es y qué dice la canción de su playlist que más les gustó o les pareció más interesante, más extraña, más chistosa, etc.</p>

<p> <em>Opción #2</em> Elige un año que haya sido significativo para ti. Por ejemplo, el año en que tuviste tu primer@ novi@, el año en que te graduaste, el año en que te mudaste a otra ciudad, el año en que sacaste tu permiso para conducir, etc. Prepara un playlist con cinco canciones que fueron un éxito ese año. Escucha tu playlist y compártelo con tus compañeros. Cada persona puede dedicar algunos minutos para describir cómo es y qué dice la canción de su playlist que más les recuerda ese año.</p>

<br>

<!-- RABBIT HOLE INSTRUCTIONS -->

<%= render "teach/lesson_partials/rabbit_hole" %>

<p>¿Qué tienen en común las palabras <em>boda</em>, <em>voto</em> y <em>votar?</em> ¡Psst! Una pista: Una manera muy fácil de encontrar el significado de una palabra es colocar en tu buscador de internet: etimología + [palabra]</p>

<%= render partial: "teach/lesson_partials/more_plans", locals: { lesson: 2 } %>
