<div id="footer">
  <div class="container">
    <div class="footer_info">
      <%# TODO image for CC license %>
      <p class="creative_commons_link"><%= t "general.footer_html" %></p>
      <p class="cdrh_link_html"><%= t "general.cdrh_link_html" %></p>
      <div class="row footer_logo">
        <div class="col-sm-6 text-center">
          <a href="http://www.unl.edu" rel="external"><%= image_tag 'logo-unl.png', alt: 'University of Nebraska-Lincoln' %></a>
        </div>
        <div class="col-sm-6 text-center">
          <a href="http://www.unl.edu" rel="external"><%= image_tag 'HN_Logo.png', alt: 'Humanities Nebraska' %></a>
        </div>
      </div>
      <div class="print_url_container">
        <span class="print_url_description">URL:</span>
        <span class="print_url"><%= request.original_url %></span>
      </div>
    </div><!-- /footer_info -->
  </div> <!-- /container -->
</div><!-- /footer -->

<!-- Modal -->
<div class="modal fade" id="dedication" tabindex="-1" role="dialog" aria-labelledby="<%= t "general.dedication_button" %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="h4 modal-title" id="<%= t "general.dedication_button" %>"><%= t "general.dedication_button" %></div>
      </div>
      <div class="modal-body">
        <p class="lead"><%= t "general.dedication_text" %></p>
        <%= image_tag iiif("shan_p.001.jpg", size: "!670,670"), class: "dedication_image" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
