<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <%= link_to t("home.title"), home_path, class: "btn btn-link", role: "button" %>
        <%= link_to t("browse.title"), browse_path, class: "btn btn-link", role: "button" %>
        <%= link_to t("search.title"), search_path, class: "btn btn-link", role: "button" %>
        <%= link_to t("about.title"), about_path, class: "btn btn-link", role: "button" %>
      </div>
      <div class="col-sm-5 layouts_cell">
        <%# Calls modal %>
        <button class="btn btn-link" data-toggle="modal" data-target="#dedication">
          <%= t "general.dedication_button" %>
        </button>
        <%= render "layouts/body/languages" %>
      </div>
    </div>
  </div>

  <div class="letter_top_greeting">
    <div class="container">
      <%= image_tag "letter_top_greeting.png" %>
    </div>
  </div>
  <div class="container title_nav">
    <div class="title_nav_sub">
    <div id="site-title"> 
      <% if current_page? home_path %>

        <div class="home-site-title home-site-title-primary">
          <h1><%= t "general.project_name" %></h1>
          <h2><%= t "general.project_subtitle" %></h2>
        </div>
        
        <% if I18n.locale == :en %>
        <%# TODO: I think this could be optimised a bit further still, but leaving it as is for now %>

          <div id="site-title" class="home-site-title home-site-title-secondary">
            <h1><%= t "general.project_name", locale: :es %></h1>
            <h2><%= t "general.project_subtitle", locale: :es %></h2>
          </div>

        <% else %>

          <div id="site-title" class="home-site-title home-site-title-secondary">
            <h1><%= t "general.project_name", locale: :en %></h1>
            <h2><%= t "general.project_subtitle", locale: :en %></h2>
          </div>

        <% end %>

      <% else %>
        <%= link_to home_path do %>
          <div id="site-title">
            <h1><%= t "general.project_name" %></h1>
            <h2><%= t "general.project_subtitle" %></h2>
          </div>
        <% end %>
      <% end %>
    </div><!--/site-title -->
   
    <%= render "layouts/body/navbar" %>
    <%= render "layouts/body/breadcrumbs" %>
  </div><!-- /container -->
</div>
</div><!-- /header -->
