<div id="header">
  <div class="container top-navigation">
    <div class="row">
      <div class="col-sm-7">
        <%= link_to t("home.title"), home_path, class: "btn btn-link", role: "button" %>
        <%= link_to t("browse.title"), browse_path, class: "btn btn-link", role: "button" %>
        <%= link_to t("search.title"), search_path, class: "btn btn-link", role: "button" %>
        <%= link_to t("about.title"), about_path, class: "btn btn-link", role: "button" %>
      </div>
      <div class="col-sm-5 layouts_cell">
        <%# Calls modal %>
        <button class="btn btn-link" data-toggle="modal" data-target="#dedication">
          <%= t "general.dedication_button" %>
        </button>
        <%= render "layouts/body/languages" %>
      </div>
    </div>
  </div>

  <div class="letter_top_greeting">
    <div class="container">
      <%= image_tag "letter_top_greeting.png" %>
    </div>
  </div>
  <div class="container title_nav">
    <div class="title_nav_sub">
      <%= render "layouts/body/title" %>
      <%= render "layouts/body/navbar" %>
      <%= render "layouts/body/breadcrumbs" %>
    </div> <%# /title_nav_sub %>
  </div> <%# /container %>
</div> <%# /header %>
