<div class="well">
  <h2 class="h4"><%= t "learn.lesson_plans.learning_objectives" %></h2>

  <ul class="objectives">
    <li>Students will practice making comparisons in Spanish</li>
    <li>Students will practice using the contrast between imperfect and preterite to describe past events</li>
    <li>Students will become acquainted with the patterns of intergenerational maintenance and loss of minority languages in the United States</li>
  </ul>

  <h2 class="h4"><%= t "learn.lesson_plans.lesson_focus" %></h2>

  <ul class="focus">
    <li>Literacy: Making comparisons</li>
    <li>Language: Intergenerational maintenance and loss of minority languages</li>
    <li>Grammar: Use of imperfect and preterite contrast to describe events in the past</li>
  </ul>

  <h2 class="h4"><%= t "learn.lesson_plans.materials" %></h2>

  <ol class="materials">
    <li><%= link_to "Digital copy", item_path(id: "shan_p.257") %> of wedding portrait of Helen & Jess Baros.</li>
    <li><%= link_to "Digital copy", item_path(id: "shan_p.073") %> of wedding portrait of Esperanza Estrada Quirarte and Jesús Ascensión Samaniego.</li>
    <li><%= link_to "Digital copy", item_path(id: "shan_p.067") %> of wedding portrait of Santos Baros and William F. Schubert.</li>
    <li><%= link_to "Digital copy", item_path(id: "shan_L218.meta") %> of personal letter from Jesusita Baros Torres to Santos Baros Schubert, July 25, 1966.</li>
    <li>
      Library of Congress
      <a href="http://www.loc.gov/teachers/usingprimarysources/resources/Analyzing_Books_and_Other_Printed_Texts.pdf"
      target="_blank" rel="nofollow noreferrer">Teacher’s Guide</a>
      to Analyzing Books & Other Printed Texts (one-page handout) [pdf]
    </li>
  </ol>
</div>
