<div class="well">
  <h2 class="h4"><%= t "teach.lesson_plans.learning_objectives" %></h2>

  <ul class="objectives">
    <li>Students will practice making a detailed description of objects and places in Spanish</li>
    <li>Students will make inferences about the historical or social context of an everyday object</li>
    <li>Students will identify examples of language contact phenomena present in this collection and will reflect on the reasons why they are an important part of the language experience of Mexican American communities</li>
    <li>Students will practice using infinitive for unconjugated verbs, and gerund for simultaneous or ongoing actions or events</li>
  </ul>

  <h2 class="h4"><%= t "teach.lesson_plans.lesson_focus" %></h2>

  <ul class="focus">
    <li>Literacy: Making detailed descriptions</li>
    <li>Literacy: Making inferences about the historical and social contact of an everyday object</li>
    <li>Language: Language contact phenomena</li>
    <li>Grammar: Contrast between infinitive and gerund in Spanish</li>
  </ul>

  <h2 class="h4"><%= t "teach.lesson_plans.materials" %></h2>

  <ol class="materials">
    <li><%= link_to "Digital copy", item_path(id: "shan_p.135") %> of black and white photograph of William D. Schubert, Pamela L. Schubert and Robert S. Schubert, Christmas Day 1953, La Grange Illinois.</li>
    <li><%= link_to "Digital copy", item_path(id: "shan_p.153") %> of black and white photograph of a television.</li>
    <li><%= link_to "Digital copy", item_path(id: "shan_m.026") %> of Mor Valu trading stamps.</li>
    <!-- TODO this letter is not currently in our API! There is only one letter written Nov 13, 1958 and it is not from / to the below people -->
    <li>Digital copy, translation and transcription of letter written by Jesusita B. Torres to her daughter, Mrs. W.F. Schubert, dated November 13, 1958.</li>
    <li>
      Library of Congress
      <a href="http://www.loc.gov/teachers/usingprimarysources/resources/Analyzing_Books_and_Other_Printed_Texts.pdf"
         target="_blank" rel="nofollow noreferrer">Teacher’s Guide</a>
        to Analyzing Books & Other Printed Texts (one-page handout) [pdf]
    </li>
  </ol>
</div>
