<h3 id="mira"> Mira otra vez, mira más de cerca</h3>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>In this activity, students analyze two letters sent by Jesusita Baros Torres to her daughter, Santos Baros Schubert, from Fort Lupton, CO, to Lincoln, NE in 1958 and 1961. These letters, written in Spanish, were the main form of communication between mother and daughter over the course of three decades.</p>

<p><%= link_to "The first letter", item_path(id: "shan_L198.meta") %> (L198, dated 1961), highlights Jesusita’s belief in the importance of transmission of the Catholic faith for the wellbeing of her family. <%= link_to "The second letter", item_path(id: "shan_L196") %> (L196, dated 1958), highlights the importance of religious societies for the wellbeing of ethnic solidarity networks.</p>

<p>After a brief introduction to the digital objects they will manipulate, students will be presented with a set of questions that will help them understand these objects and their historical context. Because you are more familiar with the proficiency level, profiles, and developmental needs of your own students, these questions are to be prepared by you, the teacher. A good resource to help you prepare these questions in a time-effective manner is the <em><a href="http://www.loc.gov/teachers/usingprimarysources/resources/Analyzing_Books_and_Other_Printed_Texts.pdf" target="_blank" rel="nofollow noreferrer">Primary Source Analysis Tool</a></em>, published by the Library of Congress, and freely available in electronic or pdf formats.</p>

<br>

<h4><%= t "learn.lesson_plans.for_students" %></h4>

<p>Las dos cartas que vas a leer fueron enviadas por Jesusita Baros Torres a su hija Santos Baros Schubert, desde Fort Lupton, Colorado, hasta Lincoln, Nebraska, en 1958 y 1961.</p>

<p>En una época en que las llamadas de larga distancia eran muy caras, recibir y enviar cartas era la mejor manera de enterarse de las noticias de la familia, pedir favores, hacer recomendaciones y mantener vivos los lazos afectivos. En los hogares en los que se hablaba una lengua adicional al inglés, también era una manera de mantener viva la lengua de la familia. Estas cartas, escritas en español, fueron la principal forma de comunicación entre madre e hija durante tres décadas.</p>

<p>Usa las preguntas que te va a presentar tu maestr@ para analizar estos dos documentos.</p>

<br>

<h4><%= t "learn.lesson_plans.for_teachers" %></h4>

<p>Present students with the set of questions you’ve prepared to help them work with these digital objects. Remember that you can save time and effort by using the <em><a href="http://www.loc.gov/teachers/usingprimarysources/resources/Analyzing_Books_and_Other_Printed_Texts.pdf" target="_blank" rel="nofollow noreferrer">Primary Source Analysis Tool</a></em>, published by the Library of Congress.</p>

<!--TODO Description of objects and thumbnails as a linked PDF? Refer to Google Doc "TEXTS FOR LEARN PAGE JUNE 18/2019" -->

<!-- TODO any way we can pull Transcript and Translation from TEI? -->

<br>

<h5>Transcript</h5>

<h5>Translation</h5>
