<%# TODO will need to translate these strings %>
<% items = [
  {
    id: "shan_L013.meta",
    image: "shan_l.060.jpg",
    link_text: "Letter from Unknown to Jesusita Baros Torres (1937)",
    location: "New Mexico to Wyoming"
  },
  {
    id: "shan_L054.meta",
    image: "shan_l.021.jpg",
    link_text: "Maximino Torres to Victoria Aviña Torres (1952)",
    location: "Michoacán to Colorado"
  },
  {
    id: "shan_L056.meta",
    image: "shan_l.048.jpg",
    link_text: "José Jesús Samaniego to Jesusita Baros Torres (1965)",
    location: "Chihuahua to Colorado"
  },
  {
    id: "shan_L160.meta",
    image: "shan_l.588.jpg",
    link_text: "Unknown to Santos Baros Schubert (1974)",
    location: "Arizona to Nebraska"
  },
  {
    id: "shan_L168.meta",
    image: "shan_l.623.jpg",
    link_text: "Clemente Torrez to Maximino Torrez (1948)",
    location: "Michoacán to Colorado"
  }
] %>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% items.each_with_index do |item, index| %>
      <% if index == 0 %>
        <li data-target="#carousel-homepage" data-slide-to="0" class="active"></li>
      <% else %>
        <li data-target="#carousel-example-generic" data-slide-to="<%= index %>"></li>
      <% end %>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% items.each_with_index do |item, index| %>
      <div class="item <%= 'active' if index == 0 %>">
        <%= image_tag iiif(item[:image], size: "!400,400") %>
        <div class="carousel-caption">
          <%= link_to item[:link_text], item_path(id: item[:id]) %>
          <p><%= item[:location] %></p>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
