<%= render "about_nav" %>

<h1 class="h3"><%= t "about.faq.title" %></h1>

<h2 class="h4"><%= t "about.faq.cite_project_q" %></h2>
<p><%= t "about.faq.cite_project_a_html" %></p>

<h2 class="h4"><%= t "about.faq.cite_letter_q" %></h2>
<p><%= t "about.faq.cite_letter_a_html" %></p>

<h2 class="h4"><%= t "about.faq.cite_doc_q" %></h2>
<p><%= t "about.faq.cite_doc_a_html" %></p>

<h2 class="h4"><%= t "about.faq.cite_photo_q" %></h2>
<p><%= t "about.faq.cite_photo_a_html" %></p>

<h2 class="h4"><%= t "about.faq.cite_transcript_q" %></h2>
<p><%= t "about.faq.cite_transcript_a_html" %></p>

<h2 class="h4"><%= t "about.faq.cite_translate_q" %></h2>
<p><%= t "about.faq.cite_translate_a_html" %></p>

<h2 class="h4"><%= t "about.faq.cite_article_q_html" %></h2>
<p><%= t "about.faq.cite_article_a_html" %></p>

<h2 class="h4"><%= t "about.faq.collaboration_q" %></h2>

<%= render "about_faq_contribute" %>

<h2 class="h4"><%= t "about.faq.types_q" %></h2>
<p><%= t "about.faq.types_a" %></p>

<h2 class="h4"><%= t "about.faq.conventions_q" %></h2>
<p><%= t "about.faq.conventions_a" %></p>

<h2 class="h4"><%= t "about.faq.rights_q" %></h2>
<%= t "about.faq.rights_a_html" %>

<h2 class="h4"><%= t "about.faq.spirit_q" %></h2>
<%= t "about.faq.spirit_a_html" %>
