<%= render "about_nav" %>

<h3>Our Research Team</h3>

<h4><%= t "about.team.director.title" %></h4>
<ul>
  <li>Isabel Velázquez, <%= t "about.team.director.desc" %></li>
</ul>

<h4><%= t "about.team.cdrh.title" %></h4>
<ul>
  <li>Katherine Walter, <%= t "about.team.cdrh.kay" %></li>
  <li>Karin Dalziel, <%= t "about.team.cdrh.karin" %></li>
  <li>Jessica Dussault, <%= t "about.team.cdrh.jess" %></li>
  <li>Greg Tunink, <%= t "about.team.cdrh.greg" %></li>
  <li>Laura Weakly, <%= t "about.team.cdrh.laura" %></li>
</ul>

<h4><%= t "about.team.grads.title" %></h4>
<ul>
  <li>Marcus Vinícius Barbosa, <%= t "about.team.grads.language" %> (2017-2019)</li>
  <li>Luisa Carolina Julio Gómez, <%= t "about.team.grads.language" %> (2019)</li>
  <li>Jennifer Isasi, <%= t "about.team.grads.language" %> (2017)</li>
  <li>Sarita García, <%= t "about.team.grads.history" %> (2017)</li>
</ul>

<h4><%= t "about.team.undergrads.title" %></h4>
<ul>
  <li>Kate Mendell (2013-2015)</li>
  <li>Adoni Faxas (2014-2016)</li>
  <li>Janette Avelar (2015)</li>
  <li>Brenda López (2015)</li>
  <li>Sara Reyes (2015)</li>
</ul>
