<h2><%= t "about.faq.title" %></h2>

<%= render "about_nav" %>

<h3><%= t "about.faq.cite_project_q" %></h3>
<p><%= t "about.faq.cite_project_a_html" %></p>

<h3><%= t "about.faq.cite_letter_q" %></h3>
<p><%= t "about.faq.cite_letter_a_html" %></p>

<h3><%= t "about.faq.cite_doc_q" %></h3>
<p><%= t "about.faq.cite_doc_a_html" %></p>

<h3><%= t "about.faq.cite_photo_q" %></h3>
<p><%= t "about.faq.cite_photo_a_html" %></p>

<h3><%= t "about.faq.cite_transcript_q" %></h3>
<p><%= t "about.faq.cite_transcript_a_html" %></p>

<h3><%= t "about.faq.cite_translate_q" %></h3>
<p><%= t "about.faq.cite_translate_a_html" %></p>

<h3><%= t "about.faq.cite_article_q_html" %></h3>
<p><%= t "about.faq.cite_article_a_html" %></p>


<h3><%= t "about.faq.collaboration_q" %></h3>

<p>[This subheading links to a bilingual Google form]</p>
<p> </p>
<p>[Text on Google form is this:]</p>
<p> </p>
<p>Name/Nombre</p>
<p>Email</p>
<p>I have/Tengo...</p>
<p> </p>
<p>[Clickable button]</p>
<p>Something to contribute/Algo que me gustaría contribuir  </p>
<p> </p>
<p>[Clickable button]</p>
<p>Noticed an error/Idea de que hay un error y quiero hacérselos notar</p>
<p> </p>
<p>[Clickable button]</p>
<p>Documents and photographs from my own family that I would like to include in the University of Nebraska Hispanic-Latina/o Heritage Collection/Documentos y fotografías de mi propia familia que me gustaría incluir en la Colección de la Herencia Hispana-Latina de la Universidad de Nebraska</p>
<p> </p>
<p>[Clickable button]</p>
<p>Submit/Enviar</p>

<h3><%= t "about.faq.types_q" %></h3>
<p><%= t "about.faq.types_a" %></p>


<h3><%= t "about.faq.access_q" %></h3>
<%= t "about.faq.access_a_html" %>

<h3><%= t "about.faq.conventions_q" %></h3>
<p><%= t "about.faq.conventions_a" %></p>

<h3><%= t "about.faq.rights_q" %></h3>
<%= t "about.faq.rights_a_html" %>

<h3><%= t "about.faq.spirit_q" %></h3>
<%= t "about.faq.spirit_a_html" %>
