<h1><%= t "home.greeting", default: "Welcome" %></h1>

<%= t "home.html" %>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#dedication">
  <%= t "general.dedication_button" %>
</button>

<!-- Modal -->
<div class="modal fade" id="dedication" tabindex="-1" role="dialog" aria-labelledby="<%= t "general.dedication_button" %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="<%= t "general.dedication_button" %>"><%= t "general.dedication_button" %></h4>
      </div>
      <div class="modal-body">
        <%= t "general.dedication_text" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <%= t "general.close" %>
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
