<table class="table table-condensed table-striped">
  <caption class="text-center">No se requieren ambas fechas [todo es]</caption>
  <thead>
    <th>Un campo [todo es]</th>
    <th class="text-right">Búsquedas [todo es]</th>
  </thead>
  <tbody>
    <tr>
      <td>Año,&nbsp;Mes, &amp;&nbsp;Día [todo es]</td>
      <td class="text-right">Un solo día [todo es]</td>
    </tr>
    <tr>
      <td>Año &amp;&nbsp;Mes [todo es]</td>
      <td class="text-right">Todo el mes [todo es]</td>
    </tr>
    <tr>
      <td>Año [todo es]</td>
      <td class="text-right">Todo el año [todo es]</td>
    </tr>
    <tr>
      <td>Mes &amp;&nbsp;Día [todo es]</td>
      <td class="text-right"><%= DATE_FIRST[0] %>-#-# a <%= DATE_LAST[0] %>-#-#</td>
    </tr>
    <tr>
      <td>Mes</td>
      <td class="text-right"><%= DATE_FIRST[0] %>-#-1 a <%= DATE_LAST[0] %>-#-31</td>
    </tr>
    <tr>
      <td>Día</td>
      <td class="text-right"><%= DATE_FIRST[0] %>-01-#&nbsp;a <%= DATE_LAST[0] %>-12-#</td>
    </tr>
  </tbody>
</table>
