<table class="table table-condensed table-striped">
  <caption class="text-center">No se requieren ambas fechas</caption>
  <thead>
    <th>Un campo</th>
    <th class="text-right">Búsquedas</th>
  </thead>
  <tbody>
    <tr>
      <td>Año,&nbsp;Mes, &amp;&nbsp;Día</td>
      <td class="text-right">Un solo día</td>
    </tr>
    <tr>
      <td>Año &amp;&nbsp;Mes</td>
      <td class="text-right">Todo el mes</td>
    </tr>
    <tr>
      <td>Año</td>
      <td class="text-right">Todo el año</td>
    </tr>
    <tr>
      <td>Mes &amp;&nbsp;Día</td>
      <td class="text-right"><%= DATE_FIRST[0] %>-#-# a <%= DATE_LAST[0] %>-#-#</td>
    </tr>
    <tr>
      <td>Mes</td>
      <td class="text-right"><%= DATE_FIRST[0] %>-#-1 a <%= DATE_LAST[0] %>-#-31</td>
    </tr>
    <tr>
      <td>Día</td>
      <td class="text-right"><%= DATE_FIRST[0] %>-01-#&nbsp;a <%= DATE_LAST[0] %>-12-#</td>
    </tr>
  </tbody>
</table>
