<div class="well">
  <h2 class="h4"><%= t "teach.lesson_plans.learning_objectives" %></h2>

  <ul class="objectives">
    <li>Students will learn about the salience of religion in the construction of ethnic solidarity networks in Mexican American communities</li>
    <li>Students will manipulate and compare a set of digital objects to make inferences about those objects and their historical context</li>
    <li>Students will become acquainted with the concept of sociolinguistic register and will reflect on the ways in which their own speech varies according to context, interlocutor and communicative purpose</li>
  </ul>

  <h2 class="h4"><%= t "teach.lesson_plans.lesson_focus" %></h2>

  <ul class="focus">
    <li>Visual literacy: Analysis of a digital object and its context</li>
    <li>Language: The concept of sociolinguistic register</li>
    <li>Grammar: Uses of the conditional and the future to speculate about present and past events</li>
  </ul>

  <h2 class="h4"><%= t "teach.lesson_plans.materials" %></h2>

  <ol class="materials">
    <li><%= link_to "Digital images", item_path(id: "shan_m.001") %> of front and back of personal rosary belonging to Jesusita Baros Torres.</li>
    <li><a href="http://collections.vam.ac.uk/item/O116870/rosary-unknown/" target="_blank" rel="nofollow noreferrer">Digital image of German rosary.</a> 1760-1800. Silver filigree and glass beads. © Victoria and Albert Museum, London.</a></li>
    <li><%= link_to "Digital images", item_path(id: "shan_d.127") %> of front and back of memorial card for Jesusita Baros Torres.</li>
    <li><%= link_to "Digital image", item_path(id: "shan_L198.meta") %> of page one of personal letter from Jesusita Baros Torres to Santos Baros Schubert, dated April 7, 1961.</li>
    <li><%= link_to "Digital image", item_path(id: "shan_L196.meta") %> of page one of personal letter from Jesusita Baros Torres to Santos Baros Schubert, dated March, 11, 1958.</li>
    <li>
      Library of Congress
      <a href="http://www.loc.gov/teachers/usingprimarysources/resources/Analyzing_Books_and_Other_Printed_Texts.pdf"
      target="_blank" rel="nofollow noreferrer">Teacher’s Guide</a>
      to Analyzing Books & Other Printed Texts (one-page handout) [pdf]
    </li>
  </ol>
</div>
