<div class="well">
  <h2 class="h4"><%= t "learn.lesson_plans.learning_objectives" %></h2>

  <ul class="objectives">
    <li>Students will learn about the motivations, migratory routes and working conditions of Mexican agricultural workers in the United States during the first half of the Twentieth Century</li>
    <li>Students will reflect on the gendered dimensions of work, and about the importance of both women and men’s work for the survival of Mexican American families and communities</li>
    <li>Students will become acquainted with the concepts of dialect and sociolect, and will reflect upon the ways in which appreciation of linguistic diversity within Spanish-speaking communities can enrich their own experience as multilingual speakers</li>
  </ul>

  <h2 class="h4"><%= t "learn.lesson_plans.lesson_focus" %></h2>

  <ul class="focus">
    <li>Literacy: Features of good reflective writing</li>
    <li>Language: The concepts of dialect and sociolect</li>
    <li>Grammar: The difference between a, ha, ah</li>
  </ul>

  <h2 class="h4"><%= t "learn.lesson_plans.materials" %></h2>

  <!--TODO insert links to objetcs in every "digital copy". Refer to Google Docs TEXTS FOR LEARN PAGE JUNE 18-2019 -->

  <ol class="materials">
    <li><%= link_to "Digital copy", item_path(id: "shan_p.239") %> of photograph of unknown migrant workers, Basin WY, 1937.</li>
    <li><%= link_to "Digital copy", item_path(id: "shan_p.207") %> of photograph of Maximino Torres with chickens, 1943.</li>
    <li><%= link_to "Digital image", item_path(id: "shan_L156.meta") %> of letter written by Jesusita Baros Torres to her daughter, Santos Baros Schubert, dated October 29, 1956.</li>
    <li><%= link_to "Digital image", item_path(id: "shan_L002.meta") %> of letter written by Maximino Torres to his uncle, Reynaldo Hurtado, dated February 5, 1923.</li>
    <li>
      Library of Congress
      <a href="http://www.loc.gov/teachers/usingprimarysources/resources/Analyzing_Books_and_Other_Printed_Texts.pdf"
      target="_blank" rel="nofollow noreferrer">Teacher’s Guide</a>
      to Analyzing Books & Other Printed Texts (one-page handout) [pdf]
    </li>
  </ol>
</div>
