<%= render "learn/lessons_shared/language_warning" %>

<h1 class="h2"><%= t "learn.home.title" %></h1>

<h2 class="h4">
  <em>
    <%= t "learn.home.subtitle_1" %>
    <br/>
    <%= t "learn.home.subtitle_2" %>
  </em>
</h2>

<div class="row">
  <div class="col-md-8">
    <div class="learn-introduction buffer-bottom-lg">
      <%= t "learn.home.introduction_html" %>
    </div>
  </div><!-- /left -->
  <div class="col-md-4">
    <h3 class="h4">Sections</h3>
    <a href="#lesson_plans" type="button" class="btn btn-primary btn-lg btn-block">Lesson Plans</a>
    <a href="#more_teaching" type="button" class="btn btn-primary btn-lg btn-block">More teaching ideas / Más ideas para el salón de clase </a>
    <a href="#developmental_targets" type="button" class="btn btn-primary btn-lg btn-block">Developmental Targets</a>
    <a href="#are_you_a_teacher" type="button" class="btn btn-primary btn-lg btn-block">Are you a teacher? / ¿Eres maestr@?</a>
    <a href="#note_on_nomenclature" type="button" class="btn btn-primary btn-lg btn-block">A note on nomenclature</a>
  </div><!-- /right -->
</div>

<h3 class="lesson_section" id="lesson_plans">
  <%= t "learn.lesson_plans.title" %>
</h3>

<div class="row">
  <div class="col-sm-6">
    <%= link_to learn_lesson01_path, class: "content callout_1 callout" do %>
      <div class="callout_inner">
        <div class="row">
          <div class="col-md-9 col-md-offset-3">
            <div class="inner_content">
              <h4>
                <%= t "learn.lesson01.title", default: "Lesson 01" %>
              </h4>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div><!-- /col -->
  <div class="col-sm-6">
    <%= link_to learn_lesson02_path, class: "content callout_2 callout" do %>
      <div class="callout_inner">
        <div class="row">
          <div class="col-md-9">
            <div class="inner_content">
              <h4>
                <%= t "learn.lesson02.title", default: "Lesson 02" %>
              </h4>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div><!-- /col -->
</div><!-- /row -->

<div class="row">
  <div class="col-sm-6">
    <%= link_to learn_lesson03_path, class: "content callout_3 callout" do %>
      <div class="callout_inner">
        <div class="row">
          <div class="col-md-9 col-md-offset-3">
            <div class="inner_content">
              <h4>
                <%= t "learn.lesson03.title", default: "Lesson 03" %>
              </h4>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div><!-- /col -->
  <div class="col-sm-6">
    <%= link_to learn_lesson04_path, class: "content callout_4 callout" do %>
      <div class="callout_inner">
        <div class="row">
          <div class="col-md-9">
            <div class="inner_content">
              <h4>
                <%= t "learn.lesson04.title", default: "Lesson 04" %>
              </h4>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row buffer-bottom-lg">
  <div class="col-sm-6 col-md-offset-3">
    <%= link_to learn_lesson05_path, class: "content callout_5 callout" do %>
      <div class="callout_inner">
        <div class="row">
          <div class="col-md-9 col-md-offset-3">
            <div class="inner_content">
              <h4>
                <%= t "learn.lesson05.title", default: "Lesson 05" %>
              </h4>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div><!-- /col -->
</div><!-- /row -->

<h3 class="lesson_section" id="more_teaching">More teaching ideas / Más ideas para el salón de clase </h3>

<p>The following lesson plans were developed as part of a university course on Heritage Speaker Pedagogy, offered in the Department of Modern Languages and Literatures at the University of Nebraska, Lincoln, during the spring of 2018. The students who prepared them generously share them with other Spanish instructors. The use of these materials is permitted exclusively for non-commercial use and only with attribution to their author.</p>

<div class="row">
  <div class="col-md-6">
    <button type="button" class="btn btn-primary btn-lg btn-block">Conociendo el mundo por la vida privada</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">¡Nos casamos!</button>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-primary btn-lg btn-block">Dos cartas</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Tarjeta de cumpleaños</button>
  </div>
</div>

<h4>Non UNL Resources</h4>

<div class="row">
  <div class="col-md-12">
    <a href="https://ohiostate.pressbooks.pub/idiomacomunidad/" target="_blank" rel="nofollow noreferrer" type="button" class="btn btn-success btn-lg btn-block">OSU: Mi idioma, mi comunidad: español para bilingües  <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
    </a>
  </div>
</div>

<!-- developmental targets button and expander -->
<h3 class="lesson_section" id="developmental_targets">
  <%= t "learn.home.developmental_targets" %>
</h3>

<%= render "developmental_targets" %>

<!-- TODO this was originally supposed to be a sidebar but I am putting it
     here because I don't know how that will work with the rest of the
     contents on this page -->
<%= render "more" %>
