<h1><%= t "learn.lesson03.title", default: "Teach and Learn" %></h1>

<%= render "learn/lessons_shared/language_warning" %>

<p>In this lesson we reflect on the importance of religious experience for many Latinx in the United States. We also develop our observation skills by analyzing the physical properties of an object and making inferences about its owner.</p>

<%= render "learn/lesson03/1_overview.html.erb" %>

<p class="lesson_sequence_subtitle h4">
  <em>Pido a Dios por ustedes</em>
</p>

<%= render "learn/lessons_shared/table_of_contents" %>

<%= render "learn/lesson03/2_antes" %>
<%= render "learn/lesson03/3_continuar" %>
<%# mira partially powered by API results %>
<%= render "learn/lesson03/4_mira" %>
<%= render "learn/lesson03/5_manos" %>
<%= render "learn/lesson03/6_grammar" %>
<%= render "learn/lesson03/7_language" %>
<%= render "learn/lesson03/8_paso" %>
<%= render "learn/lesson03/9_rabbit" %>

<%= render partial: "learn/lessons_shared/more_plans", locals: { lesson: 3 } %>
