<h1><%= t "learn.lesson05.title", default: "Teach and Learn" %></h1>

<%= render "learn/lessons_shared/language_warning" %>

<p>In this lesson we reflect on the many layers that make up LatinX identity. After examining a page of Jesusita Baros Torres’ citizenship study guide, we develop and write down our own ideas about the connection between the promises enshrined in the Constitution, and the many ways of being LatinX across the United States. </p>

<h2 class="h4"><%= t "learn.lesson_plans.instruction_sequence" %></h2>

<p class="lesson_sequence_subtitle h4">De muchos, uno</p>

<%= render "learn/lessons_shared/table_of_contents" %>

<%= render "learn/lesson05/2_antes" %>
<%= render "learn/lesson05/3_continuar" %>
<%# mira partially powered by API results %>
<%= render "learn/lesson05/4_mira" %>
<%= render "learn/lesson05/5_manos" %>
<%= render "learn/lesson05/6_grammar" %>
<%= render "learn/lesson05/7_language" %>
<%= render "learn/lesson05/8_paso" %>
<%= render "learn/lesson05/9_rabbit" %>

<%= render partial: "learn/lessons_shared/more_plans", locals: { lesson: 5 } %>
