
<%# OVERRIDE FROM ORCHID %>

<% if @res.count > 0 %>
  <div class="flex_row">
    <% @res.items.each do |item| %>
      <%= link_to item_path(id: item["identifier"]), class: "searchResults flex_col-md" do %>
        <div class="search_results_image">
          <% if item["image_id"] %>
            <%= image_tag iiif(item["image_id"]) %>
          <% end %>
        </div>
        <div class="search_results_info">
          <% title_field = locale == :en ? "title" : "title_es_k" %>
          <% title_display = item[title_field].present? ? item[title_field] : t("search.results.item.no_title", default: "Untitled") %>
          <span class="link_style"><%= title_display %></span>
          <div class="search_item_info">
            <ul class="search_item_metadata">
              <% if item["date_display"] %>
                <li>
                  <strong><%= t "search.results.item.date", default: "Date" %></strong>:
                  <%= item["date_display"] %>
                </li>
              <% end %>
              <% if item["format"] %>
                <li>
                  <strong><%= t "search.results.item.format", default: "Format" %></strong>:
                  <%= value_label("format", item["format"]) %>
                </li>
              <% end %>
              <% if item["source"] %>
                <li>
                  <strong><%= t "search.results.item.source", default: "Source" %></strong>:
                  <%= item["source"] %>
                </li>
              <% end %>
            </ul>

            <% if item["highlight"].present? %>
              <div class="search_results_text">
                <% item["highlight"].each do |key, hls| %>
                  <div class="search_results_highlights">
                    <% hl_label = key == "text_t_es" ?
                      t("search.results.item.hl_es", default: "Spanish Text") :
                      t("search.results.item.hl_en", default: "English Text") %>
                    <strong><%= hl_label %>:</strong>
                    <% hls.each do |hl| %>
                      <p><%= hl.html_safe %></p>
                    <% end %>
                  </div>
                <% end %>
              </div><%# /search_results_text %>
            <% end %> <%# /item["highlight"].present? %>
          </div> <%# /search_item_info %>
        </div><%# /search_results_info %>
      <%end%><%# /a searchResults %>
    <% end %><%# /res.items.each %>
  </div><%# /flex_row %>
<% end %><%# /if %>
