
<%# OVERRIDE FROM ORCHID %>

<% if @res.count > 0 %>
  <div class="flex_row buffer-bottom-sm">
    <% @res.items.each do |item| %>
      <%= link_to search_item_link(item), class: "searchResults flex_col-md" do %>
        <div class="search_results_image">
          <% if item["image_id"] %>
            <%= image_tag iiif(item["image_id"]) %>
          <% else %>
            <%= image_tag "no_image.jpg" %>
          <% end %>
        </div>
        <div class="search_results_info">
          <span class="link_style"><%= title_label(item) %></span>
          <div class="search_item_info">
            <ul class="search_item_metadata">
              <% if item["date_display"].present? %>
                <li>
                  <%= metadata(item, t("search.results.item.date", default: "Date"), "date_display", link: false) %>
                </li>
              <% end %>
              <% if item["format"].present? %>
                <li>
                  <%= metadata(item, t("search.results.item.format", default: "Format"), "format", link: false) %>
                </li>
              <% end %>
              <% if item["source"].present? %>
                <li>
                  <%= metadata(item, t("search.results.item.source", default: "Source"), "source", link: false) %>
                </li>
              <% end %>
              <%# subcategory is displayed to the user as "category" %>
              <% if item["subcategory"].present? %>
                <li>
                  <%= metadata(item, t("search.results.item.category", default: "Category"), "subcategory", link: false) %>
                </li>
              <% end %>
            </ul>

            <% if item["highlight"].present? %>
              <div class="search_results_text">
                <% item["highlight"].each do |key, hls| %>
                  <div class="search_results_highlights">
                    <% hl_label = key == "text_t_es" ?
                      t("search.results.item.hl_es", default: "Spanish Text") :
                      t("search.results.item.hl_en", default: "English Text") %>
                    <strong><%= hl_label %>:</strong>
                    <% hls.each do |hl| %>
                      <p><%= hl.html_safe %></p>
                    <% end %>
                  </div>
                <% end %>
              </div><%# /search_results_text %>
            <% end %> <%# /item["highlight"].present? %>
          </div> <%# /search_item_info %>
        </div><%# /search_results_info %>
      <%end%><%# /a searchResults %>
    <% end %><%# /res.items.each %>
  </div><%# /flex_row %>
<% end %><%# /if %>
