<%# overridden for purpose of toggling the title language %>
<% if @res %>
  <% title_field = locale == :en ? "title" : "title_es_k" %>
  <% title_display = @res[title_field].present? ? @res[title_field] : t("search.results.item.no_title", default: "Untitled") %>
  <h2><%= title_display %></h2>

  <%= render "show_metadata" %>
  <%= render "show_content" %>

<% else %>

  <h2><%= t("item.not_found", default: "Not Found") %></h2>
  <%= t "item.no_item", id: params["id"], default: "No item with identifier #{params["id"]} found!" %>

<% end %>
