<% @ext_js = add_assets(@ext_js, ["leaflet"] ) %>
<% @ext_css = add_assets(@ext_css, ["leaflet", "map"] ) %>

<h1><%= @title %></h1>

<%= t "research.maps.text_html" %>

</div><%# closing container for full screen %>

<div id="map_complete_container">
  <%= render partial: "research/maps/map_nav" %>

  <div class="map_container">
    <% if !current_page?(action: "map_photographs") %>
      <%= render partial: "research/maps/map_key" %>
    <% end %>

    <div class="map_container_main">
      <div class="map_container_map">
        <div id="map"></div>
      </div><%# map_container_map %>
    </div>
  </div> <%# /map_container %>
</div> <%# /map_complete_container %>

<div class="container"><%# reopening container %>

<p>
  <strong><%= t "research.maps.cite_map_q" %></strong>
  <%= t "research.maps.cite_map_a_html" %>
</p>

<p>
  <%= t "research.maps.contribute" %>
  <%= link_to t("research.maps.contribute_link"), about_faq_path(anchor: "contribute") %>
</p>

<script>
  // prep some variables that the map will need in JavaScript

  // gets absolute path for current environment's search url
  var searchPath = "<%= search_path %>";
  // "to" or "รก" depending on the language
  var joiner = " <%= t("research.maps.to").downcase %> ";

  // select whether this is a photo or a letter
  <% if current_page?(action: "map_photographs") %>
    var label = " <%= t("research.maps.popup.photos", default: "foto(s)") %>";
  <% else %>
    var label = " <%= t("research.maps.popup.letters", default: "carta(s)") %>";
  <% end %>
</script>

<%= javascript_include_tag "map" %>
