<% @ext_js = add_assets(@ext_js, ["leaflet"] ) %>
<% @ext_css = add_assets(@ext_css, ["leaflet", "map"] ) %>

<h1><%= @title %></h1>

</div><%# closing container for full screen %>

<%# TODO translations of everything on this page %>
<div id="map_complete_container">
  <%= render partial: "research/maps/map_nav" %>

  <div class="map_container">
    <% if !current_page?(action: "map_photographs") %>
      <%= render partial: "research/maps/map_key" %>
    <% end %>

    <div class="map_container_main">
      <div class="map_container_map">
        <div id="map"></div>
      </div><%# map_container_map %>
    </div>
  </div> <%# /map_container %>
</div> <%# /map_complete_container %>

<div class="container"><%# reopening container %>

<script>
  // CREATE LAYER FOR MAP TILES
  var baseLayer = L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attributionControl: false
  });

  var lang = "<%= locale %>";
  var searchPath = "<%= search_path %>";

  // ADD MAP
  var map = L.map('map', {
      center: new L.LatLng(36, -90),
      zoom: 6,
      layers: [baseLayer]
  });

  var attribution = L.control.attribution({
    position: 'bottomleft',
    prefix: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Tiles style by <a href="https://www.hotosm.org/" target="_blank">Humanitarian OpenStreetMap Team</a> hosted by <a href="https://openstreetmap.fr/" target="_blank">OpenStreetMap France</a>'

  });
  attribution.addTo(map);

</script>
