<div class="row">
  <div class="col-md-7">
    <h1><%= t "research.title", default: "Research" %></h1>
  </div>
  <div class="col-md-5">
    <h2><%= t "research.search.materials" %></h2>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <%= t "research.intro_html" %>
    
    <%= link_to item_path(id: "shan.P091") do %>
      <%= image_tag iiif("shan_p.183.jpg/", size: "!800,800"), class: "research_image" %>
    <% end %>

  </div>
  <div class="col-md-5">
    <%= form_tag search_path, method: "get" do %>
      <%= text_field_tag "q", nil, placeholder: "(sister OR \"sis\") NOT brother", class: "form-control" %>
      <div class="pull-left">
          <%= link_to t("research.search.advanced"), search_path, class: "btn btn-link color_reverse", role: "button" %>
        </div>
      <div class="pull-right">
        <%= submit_tag t("research.search.refine"), class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "sidebar" %>

  </div>
</div>



