<div class="row">
  <div class="col-md-7">
    <h1><%= t "research.title", default: "Research" %></h1>
  </div>
  <div class="col-md-5">
    <h2><%= t "research.search.materials" %></h2>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <%= t "research.intro_html" %>
  </div>
  <div class="col-md-5">
    <%= form_tag search_path, method: "get" do %>
      <%= text_field_tag "q", nil, placeholder: "(sister OR \"sis\") NOT brother", class: "form-control" %>
      <div class="pull-left">
          <%= link_to t("research.search.advanced"), search_path, class: "btn btn-link color_reverse", role: "button" %>
        </div>
      <div class="pull-right">
        <%= submit_tag t("research.search.refine"), class: "btn btn-primary" %>
      </div>
    <% end %>

    <!-- TODO sidebar -->
    <br/><br/>
    <div class="well">
      <p>Don't worry Isabel! Karin will make this look pretty but for now I am just putting the sidebar content in here! - Jessica</p>
      <h2><%= t "research.citation" %></h2>
      <p>Isasi, J., Avelar, J., & Velázquez, I. (2018). De Jesusita a Jane: Preservación digital, nombres personales y autorrepresentación en la experiencia mexicano-americana en el Medio Oeste de EEUU/From Jesusita to Jane: Digital Preservation, Personal Names and Self-Presentation of Mexican American Experience in the US Midwest. <a href="https://digitalcommons.unl.edu/modlangspanish/157/">https://digitalcommons.unl.edu/modlangspanish/157/</a></p>
      <p><strong><%= t "research.contribute" %></strong></p>
      <p>TODO link to google form</p>
    </div>
  </div>
</div>



