<h1><%= t "explore.connections.title" %></h1>

<%= t "explore.connections.intro_html" %>

<%
birthday = {
  "shan_d.233" => t("explore.caption.shan_d_233"),
  "shan_d.503" => t("explore.caption.shan_d_503")
}
christmas = {
  "shan_d.384" => t("explore.caption.shan_d_384"),
  "shan_d.394" => t("explore.caption.shan_d_394"),
  "shan_d.395" => t("explore.caption.shan_d_394"),
  "shan_d.398" => t("explore.caption.shan_d_398"),
  "shan_d.399" => t("explore.caption.shan_d_398"),
  "shan_d.469" => t("explore.caption.shan_d_469"),
  "shan_d.470" => t("explore.caption.shan_d_469"),
  "shan_d.484" => t("explore.caption.shan_d_484"),
  "shan_d.485" => t("explore.caption.shan_d_484"),
  "shan_d.538" => t("explore.caption.shan_d_538")
}
easter = {
  "shan_d.264" => t("explore.caption.shan_d_264"),
  "shan_d.266" => t("explore.caption.shan_d_266"),
  "shan_d.455" => t("explore.caption.shan_d_455"),
  "shan_d.456" => t("explore.caption.shan_d_455"),
}
postcard = {
  "shan_d.186" => t("explore.caption.shan_d_186"),
  "shan_d.549" => t("explore.caption.shan_d_549")
}
valentines = {
  "shan_d.364" => t("explore.caption.shan_d_364"),
  "shan_d.368" => t("explore.caption.shan_d_368"),
  "shan_d.369" => t("explore.caption.shan_d_368"),
  "shan_d.492" => t("explore.caption.shan_d_492"),
  "shan_d.494" => t("explore.caption.shan_d_494")
}
mothersday = {
  "shan_d.480" => t("explore.caption.shan_d_480"),
  "shan_d.481" => t("explore.caption.shan_d_480")
}
welcomebaby = {
  "shan_d.526" => t("explore.caption.shan_d_526"),
  "shan_d.527" => t("explore.caption.shan_d_526")
}
%>

<h2 class="gallery_heading">
  <%= t "explore.connections.birthday", default: "Birthday" %>
</h2>

<%= render "gallery", photos: birthday %>

<h2 class="gallery_heading">
  <%= t "explore.connections.christmas", default: "Christmas" %>
</h2>

<%= render "gallery", photos: christmas %>

<h2 class="gallery_heading">
  <%= t "explore.connections.easter", default: "Easter" %>
</h2>

<%= render "gallery", photos: easter %>

<h2 class="gallery_heading">
  <%= t "explore.connections.postcards", default: "Postcards" %>
</h2>

<%= render "gallery", photos: postcard %>

<h2 class="gallery_heading">
  <%= t "explore.connections.valentine", default: "Valentine's Day" %>
</h2>

<%= render "gallery", photos: valentines %>

<h2 class="gallery_heading">
  <%= t "explore.connections.mother", default: "Mother's Day" %>
</h2>

<%= render "gallery", photos: mothersday %>

<h2 class="gallery_heading">
  <%= t "explore.connections.baby", default: "Welcome Baby" %>
</h2>

<%= render "gallery", photos: welcomebaby %>
