<% partial = params["locale"] == "es" ? "explore/exhibit_04/es" : "explore/exhibit_04/en" %>

<%
birthday = {
  "shan_d.233" => "Beautiful rose design, Writing in Spanish ",
  "shan_d.503" => "Muchos años de vida Jane Schubert"
}

christmas = {
  "shan_d.384" => "EMBROIDERED IN SILVER THREAD 'Feliz año nuevo'",
  "shan_d.385" => "EMBROIDERED IN SILVER THREAD 'Feliz año nuevo'",
  "shan_d.394" => "Birds nest artwork & writing in Spanish",
  "shan_d.395" => "Birds nest artwork & writing in Spanish",
  "shan_d.398" => "Handmade Christmas and New Years Card from E. Jane Shanahan to her parents (1967) 'Spiritual Bouquet'.",
  "shan_d.399" => "Handmade Christmas and New Years Card from E. Jane Shanahan to her parents (1967) 'Spiritual Bouquet'.",
  "shan_d.469" => "Christmas card and envelope from Carmen Gutiérez to Santos Baros Schubert. On the back side of the card, there is letter handwritten in English.",
  "shan_d.470" => "Christmas card and envelope from Carmen Gutiérez to Santos Baros Schubert. On the back side of the card, there is letter handwritten in English.",
  "shan_d.484" => "Christmas and New years card. Writing in Spanish.",
  "shan_d.485" => "Christmas and New years card. Writing in Spanish.",
  "shan_d.538" => "V-Mail Christmas greetings. Writing in Spanish."
}

easter = {
  "shan_d.264" => "Easter card",
  "shan_d.266" => "Easter card",
  "shan_d.455" => "Easter card. Handwriting in Spanish.",
  "shan_d.456" => "Easter card. Handwriting in Spanish.",
  "shan_d.457" => "Easter card. Handwriting in Spanish."
}

postcard = {
  "shan_d.186" => "Handwriting in Spanish",
  "shan_d.549" => "Postcard"
}

valentines = {
  "shan_d.364" => "Valentines Card 'To my love warm the cockles of my heart'",
  "shan_d.368" => "Valentines day card 'A Tarzan fan'",
  "shan_d.369" => "Valentines day card 'A Tarzan fan'",
  "shan_d.492" => "Valentines Card",
  "shan_d.494" => "Valentines Card (expandable)"
}

mothersday = {
  "shan_d.481" => "Mother's Day card and envelope",
  "shan_d.480" => "Mother's Day card and envelope"
}

welcomebaby = {
  "shan_d.526" => "Card to congratulate parents on baby's birth",
  "shan_d.527" => "Card to congratulate parents on baby's birth"
}

%>

<%= render partial do %>

<h4 class="gallery_heading">
  <% if params["locale"] == "es" %>
    Cumpleaños
  <% else %>
    Birthday
  <% end %>
</h4>

<%= render "gallery", photos: birthday %>

<h4 class="gallery_heading">
  <% if params["locale"] == "es" %>
    Navidad
  <% else %>
    Christmas
  <% end %>
</h4>

<%= render "gallery", photos: christmas %>

<h4 class="gallery_heading">
  <% if params["locale"] == "es" %>
    Pascua de Resurrección
  <% else %>
    Easter
  <% end %>
</h4>

<%= render "gallery", photos: easter %>

<h4 class="gallery_heading">
  <% if params["locale"] == "es" %>
    Tarjetas postales
  <% else %>
    Postcards
  <% end %>
</h4>

<%= render "gallery", photos: postcard %>

<h4 class="gallery_heading">
  <% if params["locale"] == "es" %>
    día de San Valentín
  <% else %>
    Valentine's Day
  <% end %>
</h4>

<%= render "gallery", photos: valentines %>

<h4 class="gallery_heading">
  <% if params["locale"] == "es" %>
    Día de la Madre
  <% else %>
    Mother's Day
  <% end %>
</h4>

<%= render "gallery", photos: mothersday %>

<h4 class="gallery_heading">
  <% if params["locale"] == "es" %>
    Bienvenido bebé
  <% else %>
    Welcome Baby
  <% end %>
</h4>

<%= render "gallery", photos: welcomebaby %>

<% end %>

<%# TODO: Adding this here so it only shows up on the pages it's needed for now, ask about best way to handle %>
<script>
  $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  });
</script>





