<h2><%= t "explore.title", default: "Explore" %></h2>

<%
images = {
  "shan_p.035" => t("explore.caption.shan_p_035"),
  "shan_p.403" => t("explore.caption.shan_p_403")
}
%>

<div class="row">
  <div class="col-md-8">
    <%= render localized_partial("index", "explore/locales") %>
  </div>
  <div class="col-md-4">
    <%= render "gallery", photos: images %>
  </div>
</div>

<div class="row">
    <div class="col-sm-6 explore_search_box">
      <%= form_tag search_path, method: "get" do %>
        <h4>
          <%= t "explore.home.search_label", default: "Search Materials" %>
        </h4>
        <%# TODO figure out an example that would work in spanish as well %>
        <%= text_field_tag "q", nil, placeholder: "(sister OR \"sis\") NOT brother", class: "form-control" %>
        <div class="pull-left">
            <%= link_to t("explore.home.search_adv", default: "Advanced Search"),
              search_path, class: "btn btn-link color_reverse", role: "button" %>
          </div>
        <div class="pull-right">
          <%= submit_tag t("explore.home.search_btn", default: "Search and Refine"),
            class: "btn btn-primary" %>
        </div>
      <% end %>
    </div><!-- /col -->
    <div class="col-sm-6 explore_essay_callout">
      <%= link_to essay_01_path, class: "" do %>
        <%= t "explore.home.objects_html" %>
      <% end %>  
    </div><!-- /col -->
  </div><!-- /row -->

<h3 class="explore_index_headers">
  <%= t "explore.home.exhibits", default: "Exhibits" %>
</h3>
</div> <%# End container for full width band %>
<div class="container-fluid explore_band">

  <div class="row">
    <div class="col-sm-6">
      <%= link_to exhibit_04_path, class: "content explore_callout1 explore_callout" do %>
        <div class="explore_inner">
          <div class="row">
            <div class="col-md-9 col-md-offset-3">
              <div class="inner_content">
                <h4>
                  <%= t "explore.home.connections", default: "Connections" %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      <% end %>  
    </div><!-- /col -->
    <div class="col-sm-6">
      <%= link_to exhibit_02_path, class: "content explore_callout2 explore_callout" do %>
        <div class="explore_inner">
          <div class="row">
            <div class="col-md-9">
              <div class="inner_content">
                <h4>
                  <%= t "explore.home.migrations", default: "Migrations" %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      <% end %>  
    </div><!-- /col -->
  </div><!-- /row -->

  <div class="row">
    <div class="col-sm-6">
      <%= link_to exhibit_03_path, class: "content explore_callout3 explore_callout" do %>
        <div class="explore_inner">
          <div class="row">
            <div class="col-md-9 col-md-offset-3">
              <div class="inner_content">
                <h4>
                  <%= t "explore.home.more_than", default: "We are more than our work" %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      <% end %> 
    </div><!-- /col -->
    <div class="col-sm-6">
      <%= link_to exhibit_01_path, class: "content explore_callout4 explore_callout" do %>
        <div class="explore_inner">
          <div class="row">
            <div class="col-md-9">
              <div class="inner_content">
                <h4>
                  <%= t "explore.home.language_and_life", default: "Of language and life" %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      <% end %> 
      
    </div><!-- /col -->
  </div><!-- /row -->
</div>
