<h2><%= t "explore.title", default: "Explore" %></h2>

<% partial = params["locale"] == "es" ? "explore/index/es" : "explore/index/en" %>

<%= render partial do %><% end %>

<ul>
  <li><%= link_to "Exhibit 1", exhibit_01_path %>
  </li>
  <li><%= link_to "Exhibit 2", exhibit_02_path %>
  </li>
  <li><%= link_to "Exhibit 3", exhibit_03_path %>
  </li>
  <li><%= link_to "Exhibit 4", exhibit_04_path %>
  </li>
  <li><%= link_to "Essay 1", essay_01_path %>
  </li>
</ul>


