<h1><%= t "explore.language_and_life.title" %></h1>

<%= t "explore.language_and_life.intro_html" %>

<%# TODO cleanup and make into gallery %>

<p>Will make this into a nice exhibit / gallery</p>
<%= image_tag iiif("shan_p.427.jpg") %>
<%= image_tag iiif("shan_p.029.jpg") %>
<%= image_tag iiif("shan_d.109.jpg") %>
