<h1><%= t "ourwork.index.title" %></h1>

<section class="section1">
  <h1 class="h3"><%= t "ourwork.index.section1" %></h1>
  <%= t "ourwork.index.1_html" %>
</section>

<section class="section2">
  <h1 class="h3"><%= t "ourwork.index.section2" %></h1>
  <%= t "ourwork.index.2_html" %>
</section>

<section class="section3">
  <h1 class="h3"><%= t "ourwork.index.section3" %></h1>
  <%= t "ourwork.index.3_html" %>
</section>

<section class="section4">
  <h1 class="h3"><%= t "ourwork.index.section4" %></h1>
  <%= t "ourwork.index.4_html" %>
</section>

<section class="section5">
  <h1 class="h3"><%= t "ourwork.index.section5" %></h1>
  <%= t "ourwork.index.5_html" %>
</section>

<section class="section6">
  <h1 class="h3"><%= t "ourwork.index.section6" %></h1>
  <%= t "ourwork.index.6_html" %>
</section>

<section class="section7">
  <h1 class="h3"><%= t "ourwork.index.section7" %></h1>
  <%= t "ourwork.index.7_html" %>
</section>




